[2018-07-04 20:30] dedu6ka opened #1 "Schedule Priority addon"
Can you make it interactive?
User invokes the program thru a (single letter ) shortcut.
Anki will ask the user :

Enter the Ease; ex:150
 Overdue days taken  into account
 Interval Modifier is 100%
Proceed ?
User hits Space-bar or enter.
History Table is updated.

Ex: the last interval was 180,  Overdue was 20d.
The next interval = ( 180+ 20 ) * 150 = 300
Thank you.

[2018-07-10 08:48] vlaidmeR opened #2 "sh ./unjailbreak.sh"
sh ./unjailbreak.sh

[2018-07-12 10:03] vlaidmeR commented on #2
Clear

[2018-09-26 15:07] cjdduarte opened #3 "How to identify the cards I'm checking with your addon?"
How to identify the cards I'm checking with your addon?
The question is to know during the study, if that card is "modified" by its addon.

[2018-10-16 15:22] ssricardo commented on #3
This is an interesting issue.
For now, you need to use some other addon that shows the tags on the card.
It would be good to know that without rely on other addons though.
Do you have any idea on how could I show that infomation?

[2018-10-16 15:23] ssricardo commented on #1
Hi.
Sorry for the late reply.

I haven't understood your idea yet.
Could you try explaining it again?

[2018-10-25 16:04] ssricardo commented on #3
Done! Version: 1.2

It was added a message on bottom-right part of the Answer card.
It says like "Priority: High".
If it's Normal (not modified), nothing is shown.

[2018-10-25 16:04] #3 closed, assigned to ssricardo

[2018-10-25 17:03] cjdduarte commented on #3
Tanks

[2018-10-26 01:17] JeromeChallet opened #4 "wont work on mobile"
big thank you for doing his but when sync with iphone, about 80 to 90% of the pictures wont show up, sync media is checked on both side and i never have this issue if i import a pic from my desktop.

also when i go into edit mode on my iphone the pictures are visible there

any help?

thank you

[2018-11-27 21:18] ssricardo commented on #4
Thanks for reporting it, @jrme421 .
That's a weird behavior. I'll take a look as soon as I have time!

[2019-01-06 14:32] Sabeurre opened #5 "can't specify additionnal term in the search url"
Thanks for the add on, unfortunately, I just discovered some limitations that were not present in the previous anki 2.0 version "Search Google Images for selected words"

Say I want to obtain contextual images with the selected word, for example, "selected word"+puppy,  "selected word"+cat, or "selected word"+アニメ美少女
I would write https://www.google.co.jp/search?tbm=isch&q={}+アニメ美少女
But the add-on

[2019-01-20 16:46] Uitalo opened #6 "PDF"
is possible to modify this add for to work with pdf?

[2019-02-01 13:41] dainius-sileika opened #7 "Include Major Mnemonic Support"
Hello,

Would it be possible to script returning results from this site?

http://numzi.com/numzi/index.cfm

Many of us who have numbers and dates to learn use the major mnemonic, and this is the best website for quick noun generation.

Thanks!

[2019-02-01 13:43] dainius-sileika opened #8 "Import Image Imports Code"
Hello,

Often, when I right click and assign an image to a field, I get code instead of an image. For example:

data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUSExIWFRUWGBYWFxgXGBYYFhgXGBYXGBcXFhYYIiggGB4lHRUZIzEiJSkrLi4wFx8zODMtOCguLisBCgoKDg0OFw8PFy4dHR0tLS0tLS0tLS8tLS0tLS0tLS0tLTctMC0rLS0tLS0tLS0tLSstLS0tLSsrLSstLS0rLf/AABEIAQUAwQMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAABQMEB

[2019-02-18 13:07] ssricardo commented on #8
Hello.
Thanks for the report.

What is the version of your Anki?
Is "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNHO2Aw5ON3Eb0VKcT_H6IU3GoJQk-0fS9FJri--fYbcQJSMCN" the location of the image you are trying to download?

[2019-02-18 13:11] ssricardo commented on #7
Hi!

Which addon are you referring to?
And how should it work?
I didn't get the idea yet...

[2019-02-18 13:13] ssricardo commented on #6
Hi.
Are you referring to the Anki-Web-Browser? (there are multiple addons on this repository)

It may be possible. I will take a look on that...

[2019-02-18 19:34] Uitalo commented on #6
Yes, Anki-Web-Browser. Anki-Web-Browser

[2019-02-19 22:28] ssricardo commented on #4
@jrme421 on Android (AnkiDroid) it is working. Unfortunately I don't have an iPhone to test that.
Can you test again with a different image/link?

Or maybe it's a problem with the Iphone version of Anki, otherwise it wouldn't work on Android either.

[2019-02-20 13:50] ssricardo commented on #6
I'm afraid it's not possible.

Anki works only with:
pics = ("jpg", "jpeg", "png", "tif", "tiff", "gif", "svg", "webp")
audio =  ("wav", "mp3", "ogg", "flac", "mp4", "swf", "mov", "mpeg", "mkv", "m4a", "3gp", "spx", "oga", "webm")

[2019-02-20 13:50] #6 closed, assigned to nobody

[2019-02-20 18:11] ssricardo opened #9 "Anki-Web-Browser - Open on external browser"
Add possibility to open the item using the system web browser (ex: chrome, firefox) instead of Anki Web browser

[2019-02-21 13:46] ssricardo commented on #5
Fixed on version 1.1

[2019-02-21 13:46] #5 closed, assigned to nobody

[2019-02-21 13:52] ssricardo commented on #8
It's **not possible** to use this kind of URL.
The addon uses Anki API to download the files.
Anki checks for the file extension on the URL and accepts only some known extensions for images and audios. Therefore, it won't be possible to download from dynamic URLs which doesn't obey this rule.

**Addon updated - Version 1.1**:

* It checks whether it was possible to use the given URL
* It notifies

[2019-02-21 13:52] #8 closed, assigned to nobody

[2019-02-21 13:56] ssricardo commented on #9
Feature added on 1.1

[2019-02-21 13:56] #9 closed, assigned to ssricardo

[2019-04-16 07:24] grahamh opened #13 "Update to version 1.1"
I can't seem to install the latest edition version 1.1. I have tried deleting anki web browser from anki, deleting the folder. After re-installing the config file says its version 0.9 and there is no Use System Browser option on the config screen.

Any suggestions?

[2019-04-19 16:28] ssricardo commented on #13
@grahamh What is your version of Anki?

These news version of this addon are available only for Anki 2.1. If yours is still 2.0, unfortunately there will be no updates...

[2019-04-23 01:40] #1 closed, assigned to nobody

[2019-04-23 01:40] #7 closed, assigned to nobody

[2019-04-26 19:03] ghost opened #14 "Fill the Blank compatibility issue with Syntax Highlighting for Code"
Hello,

First of all thank you for making this add on. It's something I can see being very useful.

I am currently using the add on syntax highlighting for code (https://ankiweb.net/shared/info/1463041493) to create code snippets in Anki.

However, when combining fill-the-blanks with the syntax highlighting  add-on I get the issue displayed below

![image](https://user-images.githubusercontent.com

[2019-04-27 02:45] ssricardo commented on #14
Hey. Thanks for the report.

I'm going to install the *syntax highlighting* here and check that.

-------
I tested with a small piece of code and it worked.
It there any part with regex in your code? I think that might be a limitation.
Can you attach the code?

[2019-04-27 16:02] ghost commented on #14
Hi,

I think that's the issue. Here' the code I was testing it on

![image](https://user-images.githubusercontent.com/45672545/56851500-f2147980-68dd-11e9-8ac0-32b7b52b2975.png)

When I change the cloze to this it works fine

![image](https://user-images.githubusercontent.com/45672545/56852068-5d614a00-68e4-11e9-914a-d34dbde8325d.png)

Please let me know if you find a work-around. I'll be keeping

[2019-04-29 18:33] ssricardo commented on #14
I just release version **1.1**.

Please, check the update out!

[2019-05-01 14:03] ghost commented on #14
Works great now so far on all the cards I've reviewed. Appreciate the quick update!

[2019-05-01 17:56] #14 closed, assigned to nobody

[2019-05-02 13:26] ssricardo opened #15 "Fill the blank"
From a reviewer on ankiweb:

[2019-05-02 13:35] ssricardo commented on #15
OK, I think the instant feedback may be optional. Even though for me, realizing I'm mistaken early just makes try harder to remember it.

About the color customization, I'll take a look but it does seem that important...

[2019-05-10 01:01] ssricardo commented on #4
Closing duo to lack of response

[2019-05-10 01:01] #4 closed, assigned to nobody

[2019-05-11 15:51] tdillenburg opened #17 "Failed to load on Ubuntu 18.04"
Hi, the following error message showed up when trying to load the addon on Ubuntu 18.04 on Anki 2.1.

[code]

[2019-05-12 15:35] ssricardo commented on #15
Done in version 1.2

[2019-05-12 15:35] #15 closed, assigned to nobody

[2019-05-12 16:15] ssricardo commented on #17
Hey!
That's odd. I checked multiple releases of Anki (2.1.x) and that definition does exist in all of them.

I'll have my Linux machine just in about 10 days. Then, I'll test it on Linux.
Meanwhile, I updated it to just avoid throwing that error. The *paste handling* will be disabled in such  case.

[2019-05-22 03:00] weanprednisone opened #18 "No longer can right click within anki browser"
Right click is fine to bring up the anki browser, but when I go into google images, it no longer right clicks to show import into field.

I've reinstalled the add-on, restarted anki & my computer. I have no right click mouse issues elsewhere.

[2019-05-22 11:40] ssricardo commented on #18
Hey @weanprednisone.
What is the version of your Anki?
What is the URL of the image that it didn't work?

[2019-05-23 05:39] weanprednisone commented on #18
I use google images
Anki 2.1
It has worked, but stopped working for some reason. Thanks for replying!

[2019-05-23 09:47] shahrokh-bahtooei commented on #18
Hi,
I do also have the same problem with using "Assign to field" feature on "Google Images" for copying them to "Extra" field of "Cloze" card type.
Please fix it as soon as possible.

------------------------------
Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are ena

[2019-05-23 21:21] ssricardo commented on #18
Thanks for the reports guy, i'm already trying to check that

[2019-05-27 21:30] ssricardo commented on #17
Hey @TiagoDillenburg .

I tested it on Ubuntu (actually Linux Mint), and it worked without any error.
Do you still have that problem in yours?

[2019-05-31 14:30] ssricardo opened #19 "Check focus on fill-the-blank"
Check whether the focus on first field is working.
From a comment on ankiweb:

[2019-05-31 14:34] ssricardo commented on #19
Do you have the latest version of this addon?
What is your environment (Operational system and Anki version)?

[2019-05-31 21:52] ssricardo commented on #18
A new release is available (1.2) which handles this issue.
It doesn't solve what you want completely, because it's **not a bug** on the addon.

What happens:
* The addon uses Anki engine to import the images
* Anki has a restriction that it accepts only URLs with static files. More precisely URLs with one these suffix: (png, jpg, jpeg, git).

* Google Images probably changed something on their lin

[2019-06-01 01:46] ghost opened #20 "[Web Browser] Duck Duck Go Image Import"
Hello.
In Duckduckgo both the expanded image and the view file button contain direct links to the image in a standard browser
![image](https://user-images.githubusercontent.com/13769570/58741923-c4f04500-840e-11e9-90f5-655b17dfd58d.png)
 yet the addon throws the following error message.
![image](https://user-images.githubusercontent.com/13769570/58741903-8ce90200-840e-11e9-9d71-65b509aca16f.png)

[2019-06-03 13:52] ssricardo commented on #20
Hi! I'll try to check it out.

If you copy that URL and paste it into Anki Editor, does it import the image? Or it just pastes the URL as is?!

[2019-06-03 15:19] and-riy commented on #19
System: Xubuntu 18.10
"Fill the blanks" v1.2
Anki v2.1.13
When I launch Anki from terminal, with each card where "Fill the blanks" is used, in the terminal occurs an error:
`JS error on line 1: Uncaught ReferenceError: focusOnFirst is not defined`

[2019-06-04 14:15] ssricardo commented on #19
It seems the addon couldn't load when you started your reviewer.
It may be duo to other addon that overrides the setup.

What other addons do you use?

[2019-06-06 03:55] #18 closed, assigned to nobody

[2019-06-06 06:48] and-riy commented on #19
I've reinstalled all addons one by one. It turned out that "fill-the-blank" no longer focuses on the first field after installing ["Cookie monster"](https://ankiweb.net/shared/info/1501583548) (which is required for ["Insert Randomized Lists"](https://ankiweb.net/shared/info/1280092568)).

[2019-06-06 23:48] yzhang1337 opened #21 "Unknown spontaneous issue..."
Hello!

Love the add-on so far... was doing something else on my computer but had the add dialog open and I randomly received this error message.

Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools>Add-ons menu item to disable some add-ons

[2019-06-08 05:17] ghost commented on #20
Sorry for the late reply.
Yeah, it pastes perfect.

[2019-06-12 16:23] ssricardo commented on #21
Hi @yzhang1337 .

Does that happen when you were editing or reviewing the card?

[2019-06-12 16:24] ssricardo opened #22 "Web browser - Shortcut problem"
From ankiweb:

 the shortcut is not working.. it crashed my anki many times, tried to change it, no use...

[2019-06-12 16:26] ssricardo commented on #22
Did it happen with which shortcut (show menu or repeat last one)?

What is the environment (Anki version, Operational System...)

[2019-06-12 16:47] ssricardo commented on #20
In this situation, if you click "Yes", does it get to download the image?

[2019-06-15 10:55] ghost commented on #20
No. It throws the following error.
![image](https://user-images.githubusercontent.com/13769570/59550603-0b3fbb00-8f5c-11e9-8640-ee26f24b43ce.png)

[2019-06-16 16:36] TheDemystifier opened #23 "Exception When used in Browser"
[code]

[2019-06-17 22:48] ssricardo commented on #23
Hi!
Thanks for reporting!

I'll take a look soon.

[2019-06-20 10:25] JORDENmaker commented on #22
I have the same problem when im clicking the right button to upload a google image, it just doesn't give me the option to get google image web site. faiils

[2019-06-21 14:41] ssricardo commented on #22
@JORDENmaker could you copy the error information showed by Anki?

[2019-06-21 14:51] ssricardo commented on #19
@and-riy
If you can, look up "_initWeb" on "Cookie monster" code. It probably overrides that function ignoring both the default code (anki) and other addons (like fill-the-blank).

I'm closing the issue as it's a problem on other addon (instead of this), ok?!

[2019-06-23 23:01] ssricardo commented on #20
For some reason, when opened on that web browser, the website adds a suffix "&f=1".
That's why it can download from there.

The URL is shown now, from version **1.3**.

For a while, since the URL isn't finished as expected by Anki, the behavior is the expected. Therefore I'm closing this issue, ok?!

In the future I'll make this importing feature independent of Anki.

[2019-06-23 23:01] #20 closed, assigned to nobody

[2019-06-23 23:01] ssricardo commented on #23
Fixed!

On version **1.3**

[2019-06-23 23:01] #23 closed, assigned to nobody

[2019-06-23 23:03] ssricardo commented on #13
Closing due to inactivity.
If the authors returns and the problem remains, please re open it

[2019-06-23 23:03] #13 closed, assigned to nobody

[2019-06-24 10:15] and-riy commented on #19
The combination of "Cookie Monster" with other installed addons (over 10) does not cause problems, so I would not say that _"it's a problem on another addon (instead of this)"_.
Unfortunately, I'm not familiar with code [of "Cookie Monster" or "fill-the-blank"], and therefore I to bother you with my modest request to make your application a little bit more convenient (for "Cookie Monster" users an

[2019-06-24 16:43] ssricardo commented on #19
Ok. I'll install Cookie Monster and try to review its code.
I'll let you know if I find anything useful...

[2019-07-09 10:43] pchhina opened #24 "Option to turn off purple bar"
Thanks for the add-on, it's really useful.

I have one request - if the purple bar (indicating area where markdown is being applied) can be made optional (may be in preferences) ?

I would not mind if it only shows in the previews, but it  also shows up in card reviews which is distracting.

Thanks,
Param

[2019-07-09 17:28] ssricardo commented on #19
It's indeed incompatible with the way the other addon works.

if you open the script (py file) from *Cookie Monster*, there is a part:
`AnkiWebPage.setHtml = setHtmlWithBaseurl`

This means it changes the *setHtml* function from Anki.
Checking Anki's code: [webview.py](https://github.com/dae/anki/blob/master/aqt/webview.py), we find that *setHtml*.
And this function exactly is the responsible for

[2019-07-09 17:28] #19 closed, assigned to ssricardo

[2019-07-09 19:16] #21 closed, assigned to nobody

[2019-07-25 03:39] doneskii opened #25 "Error occurred"
![image](https://user-images.githubusercontent.com/53286486/61844024-024fdc80-ae6c-11e9-81ca-fdef1503181c.png)

Will randomly get this error when I search a word for an image or web search. If I restart the card I'm trying to make by exiting out and then starting a new card the addon will run normally again until a few more searches later the random error appears. Using a mac so idk if that makes

[2019-07-26 21:16] ssricardo commented on #25
Humm.
That's a little hard to track.

Does it happen when you start editing a card and leave it still for while, then try to continue later?
Or do you see any pattern? For any specific website?

[2019-07-28 10:12] xorowist opened #26 "how to install "Fill the blanks", Anki 2.1?"
i tried to install your plugin on clear Anki (2.1.14 Qt 5.12.1 PyQt 5.11.3).
What add-ons still need to be installed in anki for your plugin to work?
Your plugin in the pictures looks very good, but it is not clear how to install it...

[2019-07-29 19:40] ssricardo commented on #26
Hi!
The installation is pretty much a standard Anki addon (that: Tools -> add-ons -> Get... and put the code).

Now, to have those *input fields* on your card, you need to use an Anki Feature called *type:cloze*.
Search that term on the [manual](https://apps.ankiweb.net/docs/manual.html).

Basically, you need to edit the card template:

Then replace where it's just `{{cloze:FieldName}}` with `{{ty

[2019-07-29 19:40] ssricardo commented on #26
Let me know if you got it!

[2019-07-31 10:07] xorowist commented on #26
i solved the problem.
The problem was that in my language of Anki the string
{{cloze:FieldName}} is {{cloze:Текст}}

i just copy-past ur string: {{type:cloze:FieldName}}
i should write {{type:cloze:Текст}}

![2019-07-31_12-59-13](https://user-images.githubusercontent.com/12018762/62203138-46267280-b393-11e9-8d3f-ef0a6c591ebd.png)

but now i have another problem... ur addon is "case sensitive", is

[2019-07-31 18:11] ssricardo commented on #26
Great! I'm glad it worked.

The case sensitivity is not a problem, but just the normal way it works, As it checks whether the text is equals to the input. But don't you worry, it's already planned to make it optional (configurable).

As this ticket was about setting it up, I'm closing it.

[2019-07-31 18:11] #26 closed, assigned to nobody

[2019-07-31 21:45] ssricardo commented on #24
Hi!
I think I can take a look to disable that in the next days...

But do you only use this addon for preview?

[2019-08-06 21:02] ssricardo commented on #17
Tested recently on Ubuntu, and working.
So I'm closing this ticket

[2019-08-06 21:02] #17 closed, assigned to nobody

[2019-08-06 23:30] Nanco300 commented on #22
Dont't appear any information.

[2019-08-09 15:19] khonkhortisan opened #27 "'DEFAULT_ANKI_CLOZE' is not defined"
[code]
This is an odd error. It goes through Incremental Reading v4.10.3, Right Hand Reviews (jkl;), Fill the blanks - Multiple type:cloze support.
I answer one card, it throws the error for the next card but doesn't show me the question or update the answer buttons, then when I press space it puts the answer on the same line as the question.
Note type: Type
Card: Tarjeta 1
Fields: Front, Type, Ex

[2019-08-12 13:00] galantra commented on #27
Same thing occurs to me sometimes.

[2019-08-12 13:05] galantra opened #28 "[web browser] Suggested feature: sort in config"
![grafik](https://user-images.githubusercontent.com/52420923/62866957-6c90ca00-bd12-11e9-8053-cc1992d90f9f.png)
I think it would be great to add a function to sort the providers. This would make the number shortcuts more accessible.

[2019-08-12 13:08] galantra opened #29 "[web browser] suggested feature: keep html when pasting"
When I copy & paste from Firefox, the html will be maintained in the anki add window.
Is this also possible with the add-on?

[2019-08-12 18:31] ssricardo commented on #27
Hi! Thanks for the detailed report.
But indeed an odd behavior, not that easy to find out the problem.

Did you try to deactivate these other addons, just to check if that still happens?

[2019-08-12 18:32] ssricardo commented on #28
Hi!
Good idea!
Now I'm already about to release a new version of this addon (this week), so this won't be present yet.
But I'll keep it for some of the next releases

[2019-08-12 18:34] ssricardo commented on #29
Sorry, I couldn't understand well the idea.
Can you try to explain a little more?!

[2019-08-12 20:52] MikeMoolenaar commented on #27
Also have this problem. Tried disabling other addons, but no luck.
I did fix it by changing `DEFAULT_ANKI_CLOZE` to `self.DEFAULT_ANKI_CLOZE` in handler.py on line 76.

[2019-08-13 20:50] ssricardo commented on #27
Thanks for the tip @MikeMoolenaar .

I think what is happening is the this function is wrapped and called from somewhere else, then it couldn't find the variable in a different context.

[2019-08-13 20:58] ssricardo commented on #27
Released version 1.4 to handle this.
Let me know if the error still happens

[2019-08-14 06:04] galantra commented on #29
Yes, sure. Let me give an example:
Suppose you want to copy a text with line breaks, like my post:

When I copy this into a card using the web browser add-on, it will result in:

I think the reason for the omission of the line break is this: The add-on disregards html.
Therefore, I propose we include copy and paste of html to preserve line breaks and even more intricate formatting.

[2019-08-16 07:34] galantra commented on #29
Yet I do think it's not an urgent feature since ctrl+c, ctrl+v of the highlighted content is almost as quick. You may well discard the thought.

[2019-08-16 12:38] ssricardo commented on #27
Closing with version 1.4 fix.
Please, reopen if it persists

[2019-08-16 12:38] #27 closed, assigned to nobody

[2019-08-16 12:39] ssricardo commented on #22
Closing with version 2.0 adjustment.
Please, reopen if it persists

[2019-08-16 12:39] #22 closed, assigned to nobody

[2019-08-17 20:01] doneskii commented on #25
I only use google web/image. It happens randomly...haven't noticed any patterns, but it's happening more frequently than before

[2019-09-04 18:55] Pdact opened #31 "Cloze hint option Error!!"
I got error when i used hint option for Cloze in ANKI
Example:
Field1: {{c1::kündigen::kün...}}

then Anki show me this in Preview window
->kündigen + <typing window> + kündigen::kün...

Anki give me double Field1 and one typing window
Can you help me fix this? Thank you

[2019-09-04 19:43] Pdact commented on #31
![image](https://user-images.githubusercontent.com/54911068/64285368-f02d8780-cf5b-11e9-8cd0-194eb653c642.png)
Anki makes this
![image](https://user-images.githubusercontent.com/54911068/64285388-fe7ba380-cf5b-11e9-8c5c-451ccc8ce484.png)
Without your Plugin
![image](https://user-images.githubusercontent.com/54911068/64285801-8eb9e880-cf5c-11e9-931f-93868a4b9605.png)
By the way can you add one opti

[2019-09-06 17:56] ssricardo commented on #31
I didn't even know that Anki has that feature. So it wasn't considered on this addon.

I'll take a look for a future release, but it won't be very soon. Now I'm working on a now addon...

[2019-09-21 07:44] dnecklesportfolio opened #32 "Trying to get anki-plugins/fill-the-blanks working to study code"
Im not seeing the text field... just the bracket and 3 ellipses.

I first tried using this post (https://www.reddit.com/r/Anki/comments/3l8bcu/type_answers_on_card_with_cloze_deletion/)

then that didnt work and found the plugin fill the blanks plugin

Anyone know why...

Front template

<h3>{{Title}}</h3>
{{type:cloze:Text}}{{cloze:Text}}
{{Extra}}
Styling

.card {
 font-family: arial;
 font-size

[2019-09-24 18:05] ssricardo commented on #32
Hi!

Ok...

* the name of you field is indeed "Text"?
* the type really is "Cloze deletion"?

Do you really need to have another {{cloze:Text}} on the same note? Can you try to remove that 2nd one and test?

[2019-09-26 08:09] Pdact commented on #31
That is wonderful, i'm waiting for your Update ! thank you! and wish you have a nice day 💃

[2019-10-05 21:49] cstandi opened #33 "Working fine and stopped suddenly...."
Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools>Add-ons menu item to disable some add-ons and restart Anki, repeating until you discover the add-on that is causing the problem.
When you've discovered the add-on that is causing the probl

[2019-10-05 21:49] cstandi commented on #33
Any idea how to fix this?

[2019-10-07 18:12] ssricardo commented on #33
@cstandi
Did you update Anki recently?
When that happened? Right click? Shortcut? During editing or reviewing?

I'll check... but there was no new version of this addon in the last days, meaning that your problem might be related to other part of the software

[2019-10-07 18:14] ssricardo commented on #32
Any news @dnecklesportfolio?
Otherwise I'll close the issue...

[2019-10-07 18:23] dnecklesportfolio commented on #32
Yes you can close it. I think I sorted it out by reinstalling everything

On Mon, Oct 7, 2019 at 2:14 PM Ricardo <notifications@github.com> wrote:

--
*Dwayne Neckles*
 LinkedIn: https://www.linkedin.com/in/dnecklesportfolio/
 Mobile:   917.607.5509

[2019-10-08 18:28] #32 closed, assigned to nobody

[2019-10-13 18:10] ssricardo commented on #33
@cstandi any update? Can I close this?

[2019-11-15 21:06] ssricardo commented on #33
Closing due to inactivity / lack of response by the reporter.

[2019-11-15 21:06] #33 closed, assigned to nobody

[2019-11-19 22:13] ssricardo opened #34 "Fill the blanks not maching answer"
From comment on AnkiWeb:

TODO: Check possible bug.

[2019-11-25 12:07] B-bit-maker opened #35 "suggested feature: click on one or more words to search instead of highlighting"
First of all, thank you for the Web Browser add-on.
I have a feature to suggest:
Instead of highlighting, would it be possible to click on the word(s) to search? In my opinion that would make it faster to search images, especially when the query to search is composed of nonadjacent words in a sentence. For example, let's say I'm studying English and I have this sentence to find an image for:

His

[2019-11-28 20:37] ssricardo commented on #35
Hey!
Thanks for the suggestion!
I'll take a look on it, but it could take same time, as it may require some major changes internally...

[2019-11-29 08:56] B-bit-maker commented on #35
Ok, thanks.

[2019-12-08 14:54] JiaChen-Zeng opened #36 "Markdown Addon will throw errors sometimes on clicking decks in browser"
Hi. I am new to the addon for 2 days and it has occurred 2 times so far.

I think it is when switching decks in the browser window, the error sometimes will occur.

[code]

## EDIT

The error occurs also when switching off the `Edit as Markdown`. Before it occurs, the card shows in `Customize Card Templates` window won't render markdown despite `Edit as Markdown`is on.

[2019-12-10 23:10] ssricardo commented on #36
Hi @M-Azuma !

That's odd, I'll try to check. But do you use other addons that may affect Anki's editor?

[2019-12-11 15:16] JiaChen-Zeng commented on #36
Hi.

I think `Mini Format Pack` and `Japanese Support` might affect it. Maybe I'll try to disable other addons and see.

[2019-12-20 13:47] scarphin opened #37 "Extremely useful but the usage is a bit inconvenient"
Hi,
First of all, thank you for this plugin. This was something I was hoping to come by for a while now yet you did a very good job with this. However in my humble opinion the usage is extremely indirect. Let me explain in 2 topics:
1- I don't see a reason why this plugin cannot be used during reviewing the cards other than technical reasons. For example in my case I have decks including over 2000

[2019-12-29 06:51] delbao opened #38 "very useful addon, one feature request"
Is it possible to click on a hyperlink and open it in the embedded web browser rather than open it in system default one?

[2019-12-30 14:48] ssricardo commented on #38
Hi!
I never thought about it before. I'll check it out soon, maybe it's some simple config...

[2019-12-30 14:50] ssricardo commented on #37
Hey!
Ok, many requests... some I think are good ideas, but some of them maybe would just add complexity to maintain it.
I'll take them into consideration when I get some time...

[2020-01-02 21:40] ssricardo commented on #38
Hi @delbao. Weird, I just tested it and it is already opening links on the same window.

How did you a different result? Which website?

Maybe it's the case when the website specify to open on a new window/tab. In such case I'm afraid I can't avoid it/

[2020-01-03 05:24] izanagiii opened #39 "Fill the blank add-on - New feature: Support multiple distinct fields"
Hi
thanks for your great add-ons

**Some insights:**
It would be great if you just could modify the way add-on is used in a card template (e.g {{Fill:cloze}} instead of {{type:cloze}}) so we can have anki's original type cloze function (with comma seperator) which can be used with different fields as overlapper and a special note type for just using your add-on.

This way we can have both of them

[2020-01-03 06:40] izanagiii opened #40 "anki-web-browser"
HI
**thanks** for your contribution to anki community

It would be great if you could add these feature:
1. add an **drag & drop** feature (like as I do drag picture from chrome to my anki fields )
2. add download support (e.g. in forvo we can just play the **audio** not to download it nor input to fiels)
3. add an option to **rearrange** our urls (e.g I want collins dictionary at the top)

With t

[2020-01-04 13:57] g-collain opened #41 "Fill the blanks and AnkiDroid"
Hello!

"Fill the blanks" add-on is very useful, it's great thank you!
Unfortunately, it breaks my cards when I study them on AnkiDroid app… It appears as a blank card and asks me to type the answer. I don't really know how it could be fixed. Maybe I could add something in the card model to make it appear as a normal "cloze" card in AnkiDroid.
I think I'll just learn on my computer until I find so

[2020-01-04 23:35] ssricardo commented on #35
Considering alternatives, since this change would be hard...
What about if we configure a set of words to be ignored, like "are, the, her"...

@B-bit-maker would this be useful for your cases?

[2020-01-05 11:57] ssricardo commented on #41
Hey @Caernide !

Basically AnkiDroid behaves like Anki without the Add-on.
The problem is that these add-ons are not supported by the Android app.

I have the same problem when I want to review my card on my cell phone...
But unfortunately I can't do anything about it.

I you have any possible ideas, let me know

[2020-01-06 04:53] delbao commented on #38
@ssricardo thanks for the reply. perhaps a misunderstood, what i mean is opening a link in the card, not a link in a page already opened by the browser. Here is a screenshot. no option to open the link

![Screen Shot 2020-01-05 at 8 51 36 PM](https://user-images.githubusercontent.com/631325/71795905-40495300-2ffd-11ea-9ef3-dca76024d87a.png)

[2020-01-06 05:59] izanagiii opened #42 "Fill-in-blank Bug"
Hi
**Thanks for your life saving add-on**

unfortunately cloze numbers more than 10 are not correctly shown in your add-on, It seems there is a cap/limit to number of cloze deletion.
However it works fine and this problem is just a matter of showing it correct not functionality.

It would be great if you could address this issue

Best regards

Pictures:
![error 2](https://user-images.githubusercon

[2020-01-06 06:03] izanagiii opened #43 "fill-in-blank suggestion"
Hi
your add-on is Great for code snippets

**Some insights**:
It would be great if you just could modify the way add-on is used in a card template (e.g {{typem:cloze}} instead of {{type:cloze}}) so we can have anki's original type multiple cloze function (with comma seperator) that can be used with different fields as overlapper and a special note type for just using your add-on.

This way we can

[2020-01-06 07:43] g-collain commented on #41
Well, I found an ugly trick to be able to review the cards on Android. I just changed the template from ``{{type:cloze:Texte}}`` to  ``{{type:cloze:Texte}} <hr> {{cloze:Texte}}``. On the computer it shows the card twice, and on the phone I have the lines ------ plus the normal cloze text. It's not very beautiful but it works :)

[2020-01-06 18:01] ssricardo commented on #41
Humm, interesting.
I'll close this ticket for now (as I can't do anything about it specifically, but I guess I can do something around your comment later.

For instance, customize the expression replaced with _input fields_, maybe accepting {{cloze:Texte}} without "type:". It'd required some work, but that's an idea...

[2020-01-06 18:01] #41 closed, assigned to nobody

[2020-01-06 18:04] ssricardo commented on #43
Hey!

Isn't this the same as you reported here?
https://github.com/ssricardo/anki-plugins/issues/39

[2020-01-06 18:05] ssricardo commented on #40
Hi!

Thanks for those ideas, some of them already under development...

[2020-01-07 07:00] izanagiii commented on #43
Yeah Sorry my bad

I didn't remember I posted this request earlier

sorry, my memory is not good thats why I need Anki

[2020-01-07 10:28] zoenglinghou opened #44 "LaTeX does not render in {{type:cloze:Text}}"
I have a few multiple cloze cards with LaTeX equations. The equations are subsituted with rendered images after the cloze answer is shown, but not before. I assume anki renders the `{{cloze:Text}}` field but not `{{type:cloze:Text}}`.

Is there something wrong with my configurations or is there a workaround?

[2020-01-07 21:40] ssricardo commented on #43
Closing as repeated

[2020-01-07 21:40] #43 closed, assigned to nobody

[2020-01-12 09:27] B-bit-maker commented on #35
Thank you for your reply.
Yes, it would be useful. In that case, the process of adding words to those to be ignored should be quick, like 2-3 clicks, or a keyboard shortcut, as opening the add-on options every time you want to add a new word to the list would be too slow.

[2020-01-18 18:54] ssricardo commented on #28
Done! Version 3.0

[2020-01-18 18:54] #28 closed, assigned to nobody

[2020-01-18 18:56] ssricardo commented on #29
I tried to do it, but I couldn't (with the tech stack used on this addon and Anki).
It's also possible to drag and drop as formatted...

Then, closing as there are no plans to work more on that for now...

[2020-01-18 18:56] #29 closed, assigned to nobody

[2020-01-18 18:58] ssricardo commented on #35
The implementation (of those filtered words) was already on its way using the config windows.
Now check out also the "no selection options".

Closing it with the work around options on version 3.0

[2020-01-18 18:58] #35 closed, assigned to nobody

[2020-01-18 19:00] ssricardo commented on #37
Some improvements to shorten its use are now available, on version 3.0.

[2020-01-18 19:00] #37 closed, assigned to nobody

[2020-01-18 19:02] ssricardo commented on #40
From your suggestions:

1. I spent some time trying that but I couldn't make it work; so dropping the idea for while.
2. No plans related to this. The forvo example, afaik that the way it works normally (on any web browser)
3. Done! (update to version 3.0)

[2020-01-18 19:02] #40 closed, assigned to nobody

[2020-01-18 19:04] ssricardo commented on #25
Hi.
As this refers to an old version, and it has no activities lately, I'll close it.
Open a new one if the same still happen on the newest version

[2020-01-18 19:04] #25 closed, assigned to nobody

[2020-01-21 05:33] pespinozav opened #45 "Sound does not play in the front card"
The card shows the name of the file instead of playing the sound when using type in the answer Cloze deletions. It works correctly with the Basic card type. It also works with the Cloze deletion (the one without Cloze deletion).

{{c2::John}} said {{c1::phonology}}.
[sound:phonology--_gb_1.mp3]

![image](https://user-images.githubusercontent.com/22034819/72777834-d53a7780-3bcb-11ea-947e-4bd70584ed

[2020-01-23 23:03] ssricardo commented on #44
Hi @zoenglinghou .
Can you provide an example of card, where the problem occurs?

[2020-01-24 23:50] ssricardo commented on #45
I can remove the file name, during the "question" phase.
But Anki originally doesn't play audio on type cards. For now, I wouldn't be able to do it; ok?!

[2020-01-25 22:45] zoenglinghou commented on #44
This is a test deck I make:
[test.zip](https://github.com/ssricardo/anki-plugins/files/4112985/test.zip)

[2020-01-27 13:50] ssricardo commented on #44
Thanks for the sample.
I'm trying to work around it, but still I'm not sure whether it'll be possible (at least without major changes)...

[2020-01-28 23:35] ssricardo commented on #31
Done! Version 1.5

[2020-01-28 23:35] #31 closed, assigned to nobody

[2020-01-28 23:36] ssricardo commented on #34
Can not reproduce it

[2020-01-28 23:36] #34 closed, assigned to nobody

[2020-01-28 23:36] ssricardo commented on #42
Done! Version 1.5

[2020-01-28 23:36] #42 closed, assigned to nobody

[2020-01-28 23:37] ssricardo commented on #45
Done! Version 1.5

[2020-01-29 00:15] pespinozav commented on #45
I think I updated the file: clicked on Check for Updates, and then it says that "Fill the blanks -- Multiple typecloze support" had an update... so I said ok and then restarted Anki.
However, the behavior seems to be the same:
![image](https://user-images.githubusercontent.com/22034819/73316627-55726580-41e8-11ea-9da2-4768b86ae52b.png)
Then I changed the type of the card to Cloze -- instead of Clo

[2020-01-29 11:16] ssricardo commented on #45
Yeah, actually I know already what's the problem...
I considered the file name with only letters, numbers and dot.
I'll update it, taking _ and - into consideration also...

[2020-01-29 23:54] ssricardo commented on #45
New version 1.6.

Please check again.

[2020-01-29 23:54] #45 closed, assigned to nobody

[2020-01-30 18:52] pespinozav commented on #45
The name of the file no longer shows up. Thanks!

However, I still think the intended behavior is to play the sound when the card appears; that is the behavior when I use the Cloze type. I would like to hear the word that I'm learning, and then type it into the box to check that I'm able to recognize the word and spell it correctly. Makes sense?

[2020-01-31 03:37] izanagiii commented on #42
Thanks man, much appreciated

[2020-01-31 13:40] ssricardo commented on #45
Yes, it makes sense.
But that will require major changes over Anki's code.
In the moment I don't have the time needed for that, but I'll keep this in mind, to try creating this in the future.

[2020-01-31 19:04] pespinozav commented on #45
Got it. Thanks for explaining the status.

On Fri, Jan 31, 2020 at 5:40 AM Ricardo <notifications@github.com> wrote:

[2020-02-02 09:39] izanagiii opened #46 "notes with more than 9 cloze view in fill in blank"
Hi
Thanks again for your contribution & the recent update

unfortunately even after your recent update that problem with showing the clozes more than 9 still persist:

here is the screenshot:
![error 1](https://user-images.githubusercontent.com/59202302/73606189-24fe4300-45bd-11ea-960b-945cec13cc7c.JPG)

Best regards

[2020-02-04 14:45] injsphere opened #47 "drag pictures fail!!"
when i drag pictures in browser to my card it's ok but when i save card it show a error like this photo and not display picture.
![Capture](https://user-images.githubusercontent.com/60659383/73754770-80842880-4797-11ea-9728-e59d3dab9ae4.JPG)

[2020-02-04 17:20] ghost opened #48 "Feature request: ignore accents in feedback - option"
Hi! Great addon, for sure.

This is about the Multiple type:cloze support.
I use it for learning languages and do not always switch the keyboard layout, making me often ignore typing in the accents because it goes faster for me. It is often just a hassle to type it. This however turns an immediate false in the feedback when I omit the accent. I know that some purists probably want to have the acce

[2020-02-06 21:23] ssricardo commented on #47
Which addon? Web browser?

[2020-02-06 21:30] ssricardo commented on #46
Humm.. :/
Ok, I'll check it again

[2020-02-09 22:13] izanagiii commented on #46
It will be so kind of you

Best regards

[2020-02-14 00:55] rishifter opened #50 "Anyway to set the default window size for the browser?"

[2020-02-15 05:34] DoctorToBeIn23 opened #51 "Help please."
How would I write this code in, is it possible? I have this website downloaded into files on my computer...
Download link: https://usmlebookspdf.com/download-uptodate-2018-edition-full-offline-free/
file:///Users/Jacob/Desktop/Medical%20School%20Desktop/UpToDate%202018/d/search.htm?s=

[2020-02-15 05:35] DoctorToBeIn23 commented on #51
And or how would I write this one in?
https://www-uptodate-com.proxy.rvu.edu/contents/search

[2020-02-18 22:42] ssricardo commented on #51
I haven't got exactly the question...
do you want to use "fill the blanks" for codes?

If so, have you tried to follow the instructions here?
https://github.com/ssricardo/anki-plugins/tree/master/fill-the-blanks

[2020-02-19 03:25] DoctorToBeIn23 commented on #51
Sorry I thought this was "Web Browser - Search terms, Import texts and images automatically" https://ankiweb.net/shared/info/864545277. I know you are the author to that add on, would you mind taking a look?

[2020-02-19 10:22] ssricardo commented on #51
Oh, actually both addons are in this repository.
I just didn't understand which one you were referring to.

I think (maybe) I got it now. You want to use that website (https://www-uptodate-com.proxy.rvu.edu/contents/search) as provider. Is that it?!

If so, it works if the website has an address with the term to be searched. For instance, if it's like this:

Otherwise, unfortunately it's not suppo

[2020-02-19 11:44] DataSciLearner opened #53 "Unable to see this note type"
HI,
I am not sure if I'm stupidly missing the obvious. I have installed the add on "fill in the blank's" in my Anki and re-started the software. But I am not able to find the card type from the drop-down list that corresponds to this “fill in the blanks” card type.  I have the latest Anki. What am I doing wrong? Please help.

[2020-02-19 15:08] DoctorToBeIn23 commented on #51
I searched "hello"
https://www-uptodate-com.proxy.rvu.edu/contents/search?search=hello&sp=0&searchType=PLAIN_TEXT&source=USER_INPUT&searchControl=TOP_PULLDOWN&searchOffset=1&autoComplete=false&language=&max=0&index=&autoCompleteTerm=

I also have the website downloaded so I have access to it offline, I also searched hello, let me know if either would work... :) Thank you for your help!!!

file:///

[2020-02-19 23:25] ssricardo commented on #53
Hi!

The addon doesn't create a new card type. Instead, it replaces Anki behavior for cards with type:cloze (which by default allows only one big field per card).

Search "type:cloze" on https://apps.ankiweb.net/docs/manual.html.
Or take a look on https://www.youtube.com/watch?v=5tYObQ3ocrw&yt%3Acc=on

[2020-02-19 23:28] ssricardo commented on #51
Try with:

and

Basically, you need to replace the term with {}

[2020-02-20 12:19] DoctorToBeIn23 commented on #51
The proxy worked but the downloaded website in files didnt, do you know if
the add on will pull up files like how I want it?

[2020-02-21 06:32] Jfaler commented on #44
@zoenglinghou @ssricardo Any update on this? I'm willing to donate some btc to get it working.

[2020-02-21 11:39] DataSciLearner commented on #53
Thank you very much for the detailed video.  I have another question: When I have multiple cloze deletions, I am able to have only cloze deletion that I'm able to type into (following your video guidelines). Is that to be the case, or am I doing something wrong? See attached the screenshots.
Thank you for your time and help.
![image](https://user-images.githubusercontent.com/8789867/75031578-7c961

[2020-02-21 17:30] ssricardo commented on #53
@DataSciLearner you are almost there...

but when you create each entry with different number (as c1::, c2:: ...), it means that they will be in separate cards.
If you want them on the same card, use the same number. For instance:
c1::entering text, c1::second text ...

[2020-02-21 17:33] ssricardo commented on #51
I think then, that referencing the files directly as file:// isn't supported.
To use files on your computer, you would need to emulate a server.

You can try something like:
* https://themeisle.com/blog/how-to-host-a-website/
* https://1stwebdesigner.com/local-web-server/

[2020-02-21 22:12] ssricardo commented on #44
Hey guys!
I took a look some time ago but I couldn't work on it yet, cause I think I'd require quite some (which I don't have now - sorry).

Still, I'm not sure how it should work, because is rendered as image.
Should the add-on suppress the image, and then you insert the equation as it's typed in the card?

[2020-02-22 01:12] AntoninoStropp opened #54 "Duplicando texto"
Opa, tudo bem? Falei com você no Anki. Olha, eu adicionei um add-on que me permite editar o texto do card da própria tela. Segue abaixo o link:

https://ankiweb.net/shared/info/1020366288

Isso demandou acrescentar o seguinte comando nas configurações dos cards: {{edit:cloze:Texto}}

Segue abaixo print de como ficou.

O comando {{type:cloze:Texto}} eu já utilizava antes mesmo do seu add-on, com a

[2020-02-22 04:04] DoctorToBeIn23 commented on #51
Thanks for the help!!

On Fri, Feb 21, 2020 at 10:33 AM Ricardo <notifications@github.com> wrote:

[2020-02-22 04:08] DoctorToBeIn23 commented on #51
Last question, when I search the Uptodate website it makes me log in each
time. Is there a way to save my username/password or have it automatically
log in?

On Fri, Feb 21, 2020 at 9:03 PM Jacob King <mr.jacob.d.king@gmail.com>
wrote:

[2020-02-24 14:57] ssricardo commented on #54
Ah, entendi agora.

Não é o add-on que está duplicando o texto. Você está fazendo isso baseado em outro add-on.

Infelizmente atualmente não tem como fazer isso. são 2 add-ons completamente independentes.

Acho que talvez seria mais o caso de pedir para o @kelciour tentar tratar type:cloze:Texto no add-on dele. Mas ainda assim, não sei se seria fácil fazer ambos funcionarem juntos. Sorry!

[2020-02-24 14:59] ssricardo commented on #51
Humm... I think between Anki sessions (when you close Anki) it won't be possible to keep it.
But within one session, I think it's supposed to keep it.

The add-on itself doesn't control anything regarding this...

[2020-02-24 15:36] AntoninoStropp commented on #54
Teria como, então, eu criar um outro tipo de nota para usar o seu addon sem influenciar nos demais cards "cloze"?

Porque em algumas situações o fill the blank não é necessário pra mim. Na foto do exemplo, trata-se de uma questão em que eu apenas omiti o termo "certo" ou "errado", que seria a resposta da questão. Nesse caso, seu addon não é necessário.

Porém em outras situações eu faço omissões n

[2020-02-24 16:20] ssricardo commented on #54
Sim, também acho que um tipo de nota separado seja o modo mais fácil p/ contornar.

Você nem precisa de alteração em qualquer dos add-ons, já é possível fazer isso no Anki.
Basta ir em Tools -> Manage Note Types -> Add

Depois você edita os templates, conforme quiser

[2020-02-24 16:41] kelciour commented on #54
@ssricardo thank you for mentioning me, otherwise, I'd have no idea about it.

@AntoninoStropp I'm afraid, Edit Field During Review doesn't support clozes at the moment. You need to install Edit Field During Review (Cloze) by @BlueGreenMagick - https://ankiweb.net/shared/info/385888438 - to be able to edit cloze fields, if you didn't already do it, but I think you already did it and this is about

[2020-02-24 23:09] AntoninoStropp commented on #54
Enfim, consegui resolver fazendo notas diferentes, sendo que um addon exclui o outro.
Agora, outra dúvida. No seu addon (fill the banks), o extra aparece como se fosse um outro "card"? Em uma segunda tela?

Pergunto isso para saber se fiz algo errado, pois agora o extra aparece em uma segunda tela, e não mais na mesma tela após o ENTER

[2020-02-24 23:14] AntoninoStropp commented on #54
Thanks @kelciour
Actually, I already had installed addon from @BlueGreenMagick. Sorry, I mentioned you inappropriately.

I did two differents type notes and I think it's enough for me. When I need "fill the blanks", I won't be able to edit it in the same field. But, no problem. Thank you for all

[2020-02-24 23:23] AntoninoStropp commented on #54
Ricardo, agora que estou usando efetivamente o addon, surgiu outra dúvida também. Todos os audios que eu havia gravado da minha própria voz também não estão aparecendo no card. Procede ? Tem com resolver isso de alguma forma?

[2020-02-24 23:29] AntoninoStropp commented on #54
Poxa, testei várias vezes aqui. Realmente no seu o audio some na hora da revisão :(
Não teria como consertar isso, por favor???

[2020-02-25 00:49] BlueGreenMagick commented on #54
Is my help needed? I'm afraid I don't speak Spanish.

[2020-02-25 08:58] ssricardo commented on #50
Hi! This might be an interesting idea.
I'll consider adding it on next version

[2020-02-25 08:59] #53 closed, assigned to nobody

[2020-02-25 11:23] ssricardo commented on #54
Hey thanks very much for the feedback @kelciour, even tough this particular thread is not in English.

Don't worry @BlueGreenMagick, Antonino wanted to use "Fill the blanks..." and "Edit Field..." on the same card. But for now he'll just it them separatedly (different note types). Thanks for checking it!

[2020-02-25 11:25] ssricardo commented on #54
@AntoninoStropp
Em relação ao áudio, veja https://github.com/ssricardo/anki-plugins/issues/45 .

Vou fechar a issue então, ok?!

[2020-02-25 11:25] #54 closed, assigned to nobody

[2020-02-25 12:05] AntoninoStropp commented on #54
Olá. Vi na issue 45 que realmente o addon não tem suporte para áudio.

Você faria essa correção mediante uma contribuição ?

Se sim, me informa por favor, pois seria de grande valia pra mim

Abraços

Antonino Stropp

Em 25 de fev de 2020, à(s) 08:25, Ricardo <notifications@github.com> escreveu:

﻿

@AntoninoStropp<https://github.com/AntoninoStropp>
Em relação ao áudio, veja #45<https://github.com/

[2020-02-26 13:56] ssricardo commented on #54
@AntoninoStropp
Então, infelizmente no momento me falta tempo mesmo.

Além disso, não seria uma correção já que nao é algo que o Anki já tenha suporte.
Aí como comentei no outro ticket, tenho que receio que precisaria de mudanças grandes no Anki, o que faria o Add-on mais incompatível com outros e  sensível a mudanças nas novas versões do Anki.

Mas a ideia é boa. Realmente quanto eu tiver tempo,

[2020-02-26 13:56] #51 closed, assigned to nobody

[2020-02-26 15:35] AntoninoStropp commented on #54
Entendi
Tudo bem
Rpz eu enquadraria esse addon entre os melhores já desenvolvidos, na mesma categoria do image occlusion e do awesomeTTS, por exemplo

Sinto que realmente ele não tenha o áudio e vi que também não funciona no celular.

Espero que lhe sobre tempo, porque certamente inspiração não faltará! Esse addon tem muito potencial.

Parabéns demais vez
Obrigado pelo suporte
E abraços do Brasil

[2020-02-28 17:16] ssricardo commented on #46
Hey @izanagiii .

I just tested with 11 clozes and it worked.

Tested with:

[code]

How is it rendering on your case?

[2020-03-01 12:39] izanagiii commented on #46
Hi
Thanks for checking it again

Strangely the problem is resolved now!!! have you updated the add-on again?

1st: I tested the coded you mentioned & the result was correct?
![1](https://user-images.githubusercontent.com/59202302/75625796-b7066500-5bd6-11ea-847a-f3cd82d13890.JPG)

2nd: I create a note with my own code which had a problem on showing more than 9 clozes & suprisingly this time the re

[2020-03-01 23:07] ssricardo commented on #46
Well, great then...
I haven't updated it in the last days, so it was probably just some detail on your installation after updating it.

Closing, as it's solved...

[2020-03-01 23:07] #46 closed, assigned to nobody

[2020-03-05 05:12] izanagiii opened #56 "Fill in multiple blank - report isuue on incorrectly show the cloze"
Hi
Thanks for your contribution & efforts

I found an issue in the add-on, when the field content is not enclosed in a "\<div>\</div>" tag not only the content is not shown properly, but also the feedback doesn't work.

the demo of this issue is attached below as a .zip file:
[bandicam 2020-03-05 06-58-20-445_T1_C1.zip](https://github.com/ssricardo/anki-plugins/files/4291068/bandicam.2020-03-05.06

[2020-03-05 21:55] ssricardo commented on #56
Hey!
Thanks for reporting even with a video explaining it!

Which Anki version is that? That seems so different from mine...

[2020-03-06 09:38] izanagiii commented on #56
Hi
Never mention it, You are the one doing the actual work

Anki ver: 2.1.20
UI: my custom note type for code snippet learning (if you like it I can send you the note type)

Thanks again, Looking forward to seeing your future update

[2020-03-12 00:47] yitzhakbg opened #57 "Could you please make version 1.7 available"
You have prepared version 1.7 in Github but not yet uploaded it to the Anki 2.1 addons.
Version 1.7 solves my problem with hints.
Kudus on this excellent addon and thank you in advance

[2020-03-12 23:36] ssricardo commented on #56
I couldn't reproduce it yet.
For me, both Anki .20 and .21 are working fine.

Maybe you can attach a small collection for testing...

[2020-03-12 23:37] ssricardo commented on #57
Hi!

I'll do it soon. I'm just testing and adjusting for changes on new Anki .21

[2020-03-13 10:28] ssricardo commented on #47
Hey @jsignupvn , do you still have the problem?

Which addon is it?
Can you provide a small collection or something to reproduce it?

[2020-03-14 01:27] ssricardo commented on #48
Done! Released with version 1.7

[2020-03-14 01:27] #48 closed, assigned to nobody

[2020-03-14 01:27] ssricardo commented on #57
Just released!

[2020-03-14 01:27] #57 closed, assigned to nobody

[2020-03-14 15:28] ghost commented on #48
awesome, works like a charm. Thank you!

[2020-03-14 18:47] izanagiii commented on #56
Yes of course

note that in the first card It asks about Word1 but shows all three of them as the answer, In the second card hides both Word 1&2 (should just hide Word2) & strangely the answer shows just Word2&3 (Word1 is not there)

Check it out yourself

The demo Deck is attachment:
[2020.03.13 - Test 2.zip](https://github.com/ssricardo/anki-plugins/files/4333185/2020.03.13.-.Test.2.zip)

Thanks

[2020-03-14 22:53] ccz-2 opened #58 "Controller.wrapInitWeb compatibility issues with other addons"
Hi! Great addon - I just have some feedback after I was debugging why some other addons wouldn't play well with yours.
Essentially, if your addon executes before other addons which wrap **Reviewer**._initWeb (not mw.reviewer._initWeb), the other addons wrappers will not execute.
I realized it's because you overwrite the mw.reviewer._initWeb into a method of your Controller class  which wraps mw.re

[2020-03-17 07:32] EvanTsai370 opened #59 "Doesn't work for Chinese."
This add-on is really good. But the color doesn't change for Chinese. Could you update it to support Chinese please? Thank you very much!

[2020-03-17 23:40] ssricardo commented on #59
Hey. Sure, it makes sense to add this support.
I'll keep it in mind for a future version

[2020-03-18 04:31] EvanTsai370 commented on #59
Thanks!

[2020-03-19 10:20] ssricardo commented on #58
Hey @Quip13 , thanks for all the details.
I'll take a look when I get the chance.

you mentioned a workaround, what is it?!

[2020-03-20 20:02] ccz-2 commented on #58
Great!

Here's the workaround that's now in Anking's button addon: [PR](https://github.com/AnKingMed/The-KING-of-Button-Add-ons/pull/3/commits/1c252d48d5d9dc7073a118d20540374d1b8eb708)

[2020-03-22 18:56] MelihDarcanxyz opened #60 "Not working on Anki Version 2.1.24 (dev)"
I've installed Fill the Blanks add-on and replaced {{cloze:Text}} with {{type:cloze:Text}} But it keeps saying "The front of this card is blank."
![Screenshot_2020-03-22_21-53-14](https://user-images.githubusercontent.com/57872471/77257829-c59ce500-6c87-11ea-8ade-270f08625904.png)
This is how it is normally.
![Screenshot_2020-03-22_21-52-41](https://user-images.githubusercontent.com/57872471/77257

[2020-03-22 19:25] exdeval commented on #60
Tried on Anki Version 2.1.24 (9dda5cf6) too. The result is same either.

[2020-03-23 09:03] ssricardo commented on #59
Hey @noamam , can you provide a couple of sample words?
Like 3 words, a correct beginning (is it right to left?) and a wrong case.

[2020-03-23 22:19] ssricardo commented on #60
Version .24 already?! I don't even have that version yet, and it's a little hard to go along with all versions...

Don't need it already or can you use current version .22 for now?

I'll try to check it, but I don't know yet when, ok?!

[2020-03-23 22:58] MelihDarcanxyz commented on #60
Thank you for your reply. I've tested it with Version 2.1.20 (47a1bf8b) an hour ago and it's working pretty nice. So we can say the problem is solved. I've noticed few things (small things but I just wanted to give a feedback).
![Screenshot_2020-03-24_01-52-19](https://user-images.githubusercontent.com/57872471/77370599-49330080-6d72-11ea-8d7b-cb5be559d267.png)
![Screenshot_2020-03-24_01-52-40](ht

[2020-03-23 22:58] #60 closed, assigned to nobody

[2020-03-24 08:34] ssricardo commented on #60
Thanks!
And yes, I'll consider adding a config for the field sizing.

[2020-03-24 15:53] ghost commented on #59
Great add-on! It works with chinese characters for me, but the problem i have is that the width of the box doesn't adjust correctly, it displays half of the lengh of the sentences. Any ideas?

[2020-03-24 16:07] edofe99 opened #61 "Error: "The front of this card is blank""
Hi, I downloaded the plugin and followed the instruction and I keep receiving the errors like the image below:
![Schermata 2020-03-24 alle 16 59 49](https://user-images.githubusercontent.com/62611612/77448816-88ecfd00-6df1-11ea-9109-8150d8dde96c.png)

As you can see the front is not blank at all, and this message goes away if I remove "type" :

![Schermata 2020-03-24 alle 17 05 28](https://user-im

[2020-03-24 16:22] edofe99 commented on #61
Edit: I had to add a field before the one used for "fill the blank". It worked.

![Schermata 2020-03-24 alle 17 21 55](https://user-images.githubusercontent.com/62611612/77450792-10d40680-6df4-11ea-8ae6-f5c03fa16eb3.png)

[2020-03-25 09:39] izanagiii commented on #56
Hi
I found the problem:
It was a mistake from my part where a ">" sign was left out in my note template code

sorry for the trouble
Good luck

[2020-03-25 09:39] #56 closed, assigned to nobody

[2020-03-25 11:57] ssricardo commented on #61
Hey @ironhak , I'm testing it.
Meanwhile, what's you Anki's version?

[2020-03-25 12:53] edofe99 commented on #61
Hi
Version 2.1.23 (de9543ff) I'm running it on mac.

Have a nice day

[2020-03-25 13:24] ssricardo commented on #61
Hi. I couldn't reproduce it.
Unfortunately that version is available only for Mac so far. And as I don't have one, I can test it yet.

Then, please wait until I can get and run on that version...

[2020-03-25 13:28] edofe99 commented on #61
Don't worry, I simply "fixed" that adding an extra field so I can use your add-on without any problem.

[2020-03-25 17:04] ssricardo commented on #59
Oh, so it works with chinese chars...
@Vctorr could you provide a few words and their beginnings, so I could add some tests?!

Regarding the length, I'll make it configurable in future versions. For now, you can go to the addon folder, and edit the file _handler.py_ . Look up _0.62_ and increase this value.

[2020-03-25 17:06] ssricardo commented on #61
Thank you!
Let's keep this issue open, then I'll fix it when I get the new release

[2020-03-25 21:15] drmarmalademd opened #62 "New error"
See below. The only thing that has changed was I added AnKing's customize background add-on today, but everything was working fine for a while before it started throwing this error.

Error
An error occurred. Please start Anki while holding down the shift key, which will temporarily disable the add-ons you have installed.
If the issue only occurs when add-ons are enabled, please use the Tools > Add

[2020-03-25 22:47] ssricardo commented on #61
Could you also export this deck, or a small sample deck on which this happens please?

I think that's weird, because I even compared Anki's code on current version with the previous ones, and the area that this addon works wasn't changed...

[2020-03-25 23:14] ssricardo commented on #62
Hi. Could you test it with the other addon disabled?
And do you have the link for the source of AnKing addon?

[2020-03-25 23:18] drmarmalademd commented on #62
Sure thing. This is the AnKing link: https://ankiweb.net/shared/info/1210908941
And I just tried it, and it works. So it may be the other add-on. I'll contact that creator!

[2020-03-26 00:13] ghost commented on #59
![Capture](https://user-images.githubusercontent.com/62610920/77597072-043bd500-6efe-11ea-98de-55bf07a9bcd8.gif)

This is how it works for me. I'm not sure what you're asking, sorry. If it's the sentence i used, it's this one : 这是一个非常长的句子.

Also, edited the file and increased the value to 1. This is how it looks like now. It fits the chinese string, but the with latin alphabet it's too wide.

![Sc

[2020-03-26 11:17] edofe99 commented on #61
For sure, here it is. This is a sample deck I've created, there is only one card witch is a cloze card type. From the image you can see how my anki app display the error.

[Samoke_deck.zip](https://github.com/ssricardo/anki-plugins/files/4386803/Samoke_deck.zip)

![Schermata 2020-03-26 alle 12 13 14](https://user-images.githubusercontent.com/62611612/77641025-a5a54400-6f5b-11ea-90f8-447514199997.p

[2020-03-26 16:56] ssricardo commented on #61
Yeah, it's indeed something with the newer version.

Just checked it here:

![Anki-tester](https://user-images.githubusercontent.com/28906929/77673906-16b02000-6f8b-11ea-8445-f1c135e8b7e5.png)

[2020-03-26 17:06] edofe99 commented on #61
Oh I got it, anyway just after I created the sample deck for you a new issue come, as you can see from the photo I can only see a blank box

![Schermata 2020-03-26 alle 18 06 10](https://user-images.githubusercontent.com/62611612/77674855-7a871880-6f8c-11ea-92e4-54e4370601ba.png)

What version of anki should I download in order to get this to work? I really need this addon

[2020-03-26 20:30] ssricardo commented on #61
I have it running with .20 and .21.

But on this "Card type..." editor, it shows like that (with a single field). You need to run the reviewer to indeed check it

[2020-03-26 20:34] ssricardo commented on #59
Thanks very much @Vctorr for creating this, showing it working with those chars.
And also for the sentence, that's what I needed.

Regarding the sizing, indeed that's gonna happen; for roman alphabet, there will be remaining space... In the future I can try something different, maybe according to size of each character.

[2020-03-26 20:36] ssricardo commented on #59
@noamam , as you can see on Vctoor's comment, it works with Chinese. Can you check your installation? Maybe updating the add-on or disabling other add-ons...

[2020-03-26 21:24] #62 closed, assigned to nobody

[2020-03-26 23:52] #24 closed, assigned to nobody

[2020-03-27 01:40] miieandering commented on #61
Hello! I'm new to github so I'm not sure if I need to open a separate thread on this, but I tried Ironhak's first solution of adding an extra field in front of the text field, and it's worked so far (I'm running Anki 2.1.23 as well):

<img width="757" alt="Screen Shot 2020-03-27 at 9 38 11 AM" src="https://user-images.githubusercontent.com/58385932/77712461-cda1af80-700e-11ea-9aa6-d5e06d2dc567.png

[2020-03-27 09:13] edofe99 commented on #61
I've tried to download Anki 2.1.15 but instead of working there's a new bug
![Schermata 2020-03-27 alle 10 06 51](https://user-images.githubusercontent.com/62611612/77740072-e744f600-7012-11ea-9281-5ff43fca699f.png)

If I click tools>empty cards anky display a message that say "no empty cards". Probably it is a problem with the mac version.

@miieandering I tried your method but this simply create

[2020-03-27 16:44] ssricardo commented on #61
Hey!
I've got it also, now on version .22.  It's a problem on Anki directly (you can check it, by removing the add-on).

It happens before the add-on get processed, then I already receive the content with that message instead of the original card content.

I also wrote a small note here: https://github.com/ssricardo/anki-plugins/wiki/Temp---Anki-problem-with-type

[2020-03-31 19:39] doulovetrees opened #63 "wikipedia search link"
hi,
for some reason when i paste this wikipedia search link "https://en.wikipedia.org/w/index.php?...{}" it does not search the term i highlight. it just pulls up the main wikipedia page.
i'm wondering what the issue is. i have tried deleting and reinstalling it but that didn't work.
maybe it is conflicting with an add on i have?
these are the add on's i am using:

Advanced Browser
Anki Zoom
Brows

[2020-04-01 19:26] ssricardo commented on #63
@yhlai-code , I think the URL was correct. Here it worked with the following URL:

Can you check?!

[2020-04-02 13:31] yhslai commented on #63
Uh? I never use Advanced Browser so I'm not sure why you tagged me.

But when I clicked the URL you pasted it looked like:

![image](https://user-images.githubusercontent.com/538696/78254947-39ad7780-7529-11ea-85b3-e112af4691da.png)

[2020-04-02 13:46] doulovetrees commented on #63
figured it out. thanks! this is the correct link
https://en.wikipedia.org/w/index.php?search={}

[2020-04-02 13:46] #63 closed, assigned to nobody

[2020-04-05 12:29] EnzovdWetering opened #64 "Doesn't work correctly with Japanese language"
Hi there,
I was hoping you can help me with the following issue:
It seems like the plugin only works with alphabet letters and not with Japanese hiragana, katakana or kanji writing.
Below you can see an example of what I mean. When I try to type the Japanese word for hello: こんにちは, I get no "live feedback" (yellow color) or "good" (green color) when typing the sentence. Only when I change the keybo

[2020-04-06 07:36] ssricardo commented on #64
Hey!
Indeed I thought it be working, as somebody showed it working with Chinese.

But ok, I'll check this out with Japanese.
Thanks for already providing a sample word. If possible, just tell 1 or 2 more words...

[2020-04-06 08:01] EnzovdWetering commented on #64
Hi again :)

I've also tested it with these Japanese words:

今日 (today)
はじめまして (nice to meet you)
晩ご飯　(dinner)

I have the feeling that the issue is only present on macOS since Chinese seems to work fine on debian/linux (by the looks of the screen capture in case https://github.com/ssricardo/anki-plugins/issues/59)

Chinese and Japanese are actually similar in many ways. The Japanese 'borrowed' a

[2020-04-06 18:38] EnzovdWetering commented on #64
Update:

I've just tested it on Windows 10 with Anki version 2.1.22 (0ecc189a) and Python 3.8.0 Qt 5.14.1 PyQt 5.14.1. As you can see in the screen capture below, the exact same behaviour occurs as in MacOS. When the keyboard settings are changed to Japanese, the addon does no longer function. When you switch the keyboard settings back to Dutch/Alfabet it works as expected and even gives you '(liv

[2020-04-06 19:36] ssricardo commented on #64
Thanks! I'll try to work on that soon!

[2020-04-08 07:07] s609078902 opened #65 "How can it work on the content ended with " } ""
hello

If a content end with "}", like "tags: { $size: 3 }", I don't konw how to let it work correctly. If I add a cloze to it directly, like "{{c1::tags": { $size: 3 }}}", it will show like this

![image](https://user-images.githubusercontent.com/48309185/78754187-a7362980-79a9-11ea-82f1-65ca1f212ade.png)

And if I add a space after "}", like "{{c1::tags": { $size: 3 } }}", my answer will contan

[2020-04-08 16:24] EnzovdWetering commented on #64
I have just tested it on Ubuntu 18.04, it does work there. So I guess it only does not work on MacOS and Windows.

[2020-04-09 08:35] ssricardo commented on #64
Ok.
When I work on it I can test on Ubuntu and Windows...

Do you have the option *feedback-ignore-accents* on? If so, can you test setting it to false please?!

[2020-04-09 21:17] EnzovdWetering commented on #64
Hi there,

I didn't change the `feedback-ignore-accent` on MacOS, Windows and Ubuntu.
The default setting is configured: `feedback-ignore-accents": false,`

The only 'custom config' I have is the `feedback-ignore-case` which is set to `true`

Below are the settings I used for testing on all 3 operating systems:

[code]
Please let me know if I can help in any way, I'm happy to do so :)

[2020-04-10 09:17] ssricardo commented on #65
Hey!
That's an interesting case. I'll check it when I work on next version

[2020-04-11 10:05] ssricardo commented on #58
Hey!
Thanks for the reference. Basically that's the way it is currently.
As it's not blocking your AnKing anymore, for now I think I'll just keep it...
Otherwise other add-ons would make this one stop working also.

[2020-04-11 10:05] #58 closed, assigned to nobody

[2020-04-13 03:51] s609078902 commented on #65
ok, thx!

[2020-04-16 01:00] joselpg commented on #61
Hi @ssricardo . I would like to know if you're still working with this add-on for the newer version of Anki. I couldn't use it. But I think it's one of the most powerfull add-on for anki. Or do you have a pro version, or something like that?. You are the best friend!

[2020-04-16 07:41] ssricardo commented on #61
Hi @joselpg!

As I mentioned just above:

That means, there is nothing that I can do unfortunately.
Except wait for next Anki release...

[2020-04-16 19:20] joselpg commented on #61
Hi  @ssricardo. Ok, I understand. I have it clearer now. I thought it was a simple code update problem, compared to the new version. Well, hopefully Anki somehow fixes that part. Thanks friend.

[2020-04-16 21:19] ssricardo commented on #50
Just done!
Version 4.0

[2020-04-16 21:19] #50 closed, assigned to nobody

[2020-04-20 20:40] Fabioriz opened #66 "Changing font type and size and using for more than one field"
Hello!
First of all, thank you for having created this really useful add-on.
I would like to know if it's possible to change the font size of the words I'm typing into the blank fields.
And also, I have card with more than one field with close deletions. This code just works with the first field?
Any ideas?
Thank you so much in advance!
Fábio

[2020-04-24 21:49] ssricardo commented on #66
Hi @Fabioriz !

Do you know how to edit the style (CSS), on Anki?

Try adding (and changing) this:

[code]

[2020-04-25 04:53] EvanTsai370 commented on #59
Sorry for getting back to you late. Here is my gif:
![2020-04-25-11-35-24](https://user-images.githubusercontent.com/22320280/80270400-20dc5000-86ea-11ea-9890-d1ade57250a8.gif)
When I type the answer, I need to move the cursor back to get the green color. And if I input the wrong Chinese answer, the color doesn't change to red util I move the cursor back again.
I guess it's because my Chinese inpu

[2020-04-25 21:40] Fabioriz commented on #66
Hello Ricardo!
First of all, thank you for reply!
Actually, after writing you I was able to find in a forum the code that changes the font and the font size of the words I'm typing in the blank fields.
The code I used is this:
`code#typeans {
   font-family: "Verdana";
   font-size: 20px;}
#typeans { width: 150px; }
center { display:inline;
}
`
I noticed the code you sent me previously is inside t

[2020-04-28 17:00] ssricardo commented on #36
Hey @M-Azuma , do you know whether this still happens after last update?

[2020-04-29 23:46] JiaChen-Zeng commented on #36
Sorry, I am not using the plugin recently so I don't know.

[2020-04-30 10:21] ssricardo commented on #36
Hey! No problem...

Then I'll close this, as there were already many changes.

Thanks!

[2020-04-30 10:21] #36 closed, assigned to nobody

[2020-05-26 16:47] 3gatos commented on #66
Hi!  I am interested in this functionality as well, however, I am not clear where to put either code...
Can you provide code that can go into Cards>Styling Section?   I tried use both options provided above, and could not get it to work.   I'm not a developer, so would need some simple instructions if it can only be done in the source documents.  (edit:  specifically referring to the ability to in

[2020-05-29 06:34] s609078902 commented on #65
It seems that the problem has been solved in the latest verson of anki (or add-on).

Anyway, thanks for your useful add-on.

[2020-05-29 06:34] #65 closed, assigned to nobody

[2020-05-30 21:40] ssricardo commented on #65
Hey! Thanks for the update and closing it :)

[2020-06-01 05:45] izanagiii opened #69 "instant feedback doesn't work properly"
Hi

There is a strange problem with your add-on which I can't figure it out so I attach a video to explain it:
[bandicam 2020-03-26 07-26-41-864.zip](https://github.com/ssricardo/anki-plugins/files/4709543/bandicam.2020-03-26.07-26-41-864.zip)

description:
when I make cloze of a syntax (especially when copy it) after entering the answer feedback turns red although the answer is correct but when i

[2020-06-06 16:59] ghost opened #70 "Feature request: Suggest next proper character for multiple type:cloze"
When filling out the blanks, sometimes a hint can be useful on how to start the word. I often do this with synonyms. I know there exists a hint-field in anki, but it is only one field and tedious to fill out everytime. I often use multiple clozes on a card. What would be useful would be a button and/or hotkey that - upon hitting it - automatically fills in the next character in the currently selec

[2020-06-14 09:53] ssricardo commented on #69
Hey @izanagiii !

If you look at 00:00:17, the _dashes_ are different. The first one is larger. That means, it's not exactly the same character.

[2020-06-14 10:08] ssricardo commented on #70
Hey @MKOauthtest !

That's an interesting idea. I'll consider adding it when I work on this addon again

[2020-06-14 10:09] ssricardo commented on #61
Closing as it's working on current version

[2020-06-14 10:09] #61 closed, assigned to nobody

[2020-06-14 16:20] izanagiii commented on #69
Hi

Yes you are right, I had not noticed it but now that you mentioned they seem different.
I wonder why they are different, but maybe it was an oversight due to changing keyboard from US-English to Canada-English keyboard (but I am not sure I will check it)

Thanks again for your time

[2020-06-23 17:06] izanagiii commented on #69
Hi Ricardo

Regarding this issue I checked another problematic card and it wasn't for the difference in dashes "-".

the Demo video:
[bandicam 2020-06-23 21-22-58-908.zip](https://github.com/ssricardo/anki-plugins/files/4820821/bandicam.2020-06-23.21-22-58-908.zip)

I am confused and have no idea since there is no html tag or styling involved so I can't see how the second one that I type manually

[2020-06-23 17:09] Asmedeus998 opened #71 "Changing cloze color"
![Capture](https://user-images.githubusercontent.com/60872999/85433574-36210e00-b5b7-11ea-86e0-89aa488034a0.PNG)]

![Capture](https://user-images.githubusercontent.com/60872999/85433982-e3942180-b5b7-11ea-8f12-960f5ed86573.PNG)

is there a way to change the color other than white? I try to search it at control text and I don seem to find it.

[2020-07-13 19:17] ssricardo commented on #71
Sorry for the late reply.

Do you know CSS?

You can try to use like:

    input.ftb {
      background-color: yellow; /* whatever */
    }

[2020-07-20 18:20] ssricardo commented on #69
Hey @izanagiii, can you please paste here that line (the value which you had you the Code field)?!

[2020-07-22 04:50] izanagiii commented on #69
Hi ssricardo
I found the culprit of this problem sometimes (normally when the text is formatted like color, ...) when i hit space it will use "\&nbsp;" instead of " " so if you can change the code in a way that it automatically changes "\&nbsp;" to normal space " " I think the problem is solved (but there may be a better way to do it)

**but** sometimes even after replacing "\&nbsp;" with " " the

[2020-07-22 09:50] Asmedeus998 commented on #71
Hi ssricardo,
I know a bit about CSS and I try your suggestion but it still didn't work (putting it in Styling (share between the deck) ). I'll appreciate it if you can make a screenshot and step for making the color change.

[2020-07-22 15:02] Asmedeus998 commented on #71
Hi ssricardo,
This might no related to the issue about the color of cloze but I having trouble to cloze a c++ code.
For example 'std::cin >> val' ,
when I try to type in 'std::cin >> val' the color change to green after I only put 'std'.
If I type fully 'std::cin >> val' the color change to red.

The problem fix after I try not to include the 'std::' and the cloze typing go back to normal...
Is th

[2020-07-24 03:59] weidongzhou1994 opened #73 "Does it not support some common Markdown syntax?"
such as First line indent（\&emsp;\&emsp;）&  wrap（\<br\>）

[2020-08-01 10:07] ssricardo commented on #73
Hi @weidongzhou1994 .
You mean the *Markdown Support*?! There are several add-ons here, then I'm not sure...

If so, it's based on https://python-markdown.github.io/, therefore it's supposed to support the same.
But some additional processing is done, to make it work with Anki card.
If I remember correctly, one of them is trimming the content. Therefore, it'd not work for First line indent.

[2020-08-04 01:07] SEE-ICT opened #74 "Type-in-the-answer card blows away <hr id=answer> <br> formatting"
Details here:

https://forums.ankiweb.net/t/type-in-the-answer-card-blows-away-hr-id-answer-br-formatting/1622

Toggling this add-on creates/resolves this problem. Running Anki with all other add-ons enabled works fine.

[2020-08-05 11:07] mattjukes opened #75 "Ignoring Case"
Hi, I tried to add your conditional for removing case, but it doesn't seem to work. I think i've added it wrong. Could you tell me how I should apply it please?

[code]

[2020-08-07 21:14] ssricardo commented on #75
Hi @mattjukes  !
I'm not sure, what you're trying to do.

The `amd` is for the Markdown addon. But there is no feedback on that Addon.

Maybe with you want the feed on the other addon, the *Fill the blanks*?!
If so, you should go to Addons -> config.

Let me know...

[2020-08-07 21:18] ssricardo commented on #74
Is it already solved?

I think you need to have an empty line the template.

[2020-08-07 22:08] mattjukes commented on #75
Hi, I didn't know the _amd_ was for another addon, I copied it from the examples in the _Fill the Blanks_ addon, so I have no way of knowing.

However, thank you so much, I had no idea that addons have a Config section, so I apologise for my mistake, but thank you for pointing that out.

[2020-08-07 22:08] #75 closed, assigned to nobody

[2020-08-08 18:38] SEE-ICT commented on #74
Well, disabling the add-on solves the problem of an error being thrown, but I would like to keep using the add-on. I’m not sure what you mean when you say that the template needs to have an empty line. Where should that empty line be placed?

From: Ricardo <notifications@github.com>
Sent: Friday, August 7, 2020 23:18
To: ssricardo/anki-plugins <anki-plugins@noreply.github.com>
Cc: SEE-ICT <github@

[2020-08-10 22:10] ssricardo commented on #74
After the line with type:cloze:...

But I'm not sure about that, I'm just remembering about some problem like this.

Can you post your Card Template?! Then I can try to reproduce it.

[2020-08-15 05:09] SEE-ICT commented on #74
[Test.zip](https://github.com/ssricardo/anki-plugins/files/5078218/Test.zip)

This file contains a deck that triggers the problem when run with the add on enabled but not with the add on disabled. It also contains a video that shows the problem occurring on my system. Sorry to be slow to get it to you.

[2020-08-20 18:27] ssricardo commented on #74
Thanks for providing it.
Lately I'm also late to reply, I don't have much time to work with this now;
but verify it as soon as possible...

[2020-08-29 18:34] ssricardo commented on #47
Closing due to inactivity. If it persists, please re-open

[2020-08-29 18:34] #47 closed, assigned to nobody

[2020-08-29 20:10] ssricardo commented on #66
@3gatos , you need exactly to put the changes on the Styling section of Cards.

You can try with that: `code#typeans { font-family: "Verdana"; font-size: 20px;}`

And use the number you want on *font-size*.

[2020-08-29 20:12] ssricardo commented on #66
@Fabioriz , I couldn't access the links.
What do you mean by more than 1 field with cloze deletion. Multiple fields on a single cloze?

[2020-08-29 20:20] ssricardo commented on #71
Hi @Asmedeus998

For the formatting part, I also added some instructions here:
https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blank---Styles

For the input `std::cin`. I was trying to solve, but actually this will remain as a limitation of the add-on.
The problem is:
Anki uses these *::*  to separate parts of the field declaration (type > cloze > field), so it's a reserved sequence.
I was

[2020-08-29 20:20] #71 closed, assigned to nobody

[2020-08-29 21:09] ssricardo commented on #74
You are tying to use the add-on on the wrong note type.
It works on **cloze deletion** notes, not on Basic (or Basic / reverse).
Besides, on the card template it must contain {{type:cloze:Field}}.

Please, review the documentation: https://github.com/ssricardo/anki-plugins/tree/master/fill-the-blanks

And I also created a starter deck: https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blanks

[2020-08-29 21:09] #74 closed, assigned to nobody

[2020-08-30 06:25] SEE-ICT opened #76 "Type-in-the-answer card blows away <hr id=answer> <br> formatting"
Sorry to reopen this, but I think that the issue is not resolved. The problem is not that this add on is not working properly with the cloze cards for which it is intended. I have in fact not yet tried it in that context.

The problem is that this add on blows away the formatting of _normal_ (i.e., non-cloze cards) type-in-the-answer cards when it is enabled. Since I would like to use both normal

[2020-08-30 09:01] SEE-ICT opened #77 "Markdown Support - With Batch n Preview causes error when used with Browser External Note Editor"
Problem description

Please describe the issue concisely in here. In case of an error: Walk us through the steps you took to get there. What happened? What did you expect to happen?

I open the browser and choose a card. I then click File|Edit in new window. I go to the new window and click on a field. I click Close for the new window. All fine so far. I then click on a field in the original brows

[2020-08-30 15:45] ssricardo commented on #76
So I'm afraid I'm not understanding the problem.
On the video you sent, which of those cards have a problem? And what should happen instead?

The only part I thought it could be, is the wrong formatting on the `Test 3 Test 3 Back`.
But on my Anki, it's shown (even with the add-on enabled) like this:

![2020-08-30_17-41](https://user-images.githubusercontent.com/28906929/91663356-90bf7480-eae8-11ea

[2020-08-30 15:49] ssricardo commented on #77
Thank you for the description. I'll install _External Note Editor for the Browser_ and try to reproduce when I get the chance...

[2020-08-30 16:09] ssricardo commented on #69
The problem is due to mixing it with formatting tags.
The add-on takes the text from the cloze entire area (until the _}}_). And it seems that there are spaces between the tags, and in the end (in the value used on the add-on), it expects multiple spaces.
For instance on your card, it expects this: `ls  -la   /   ~/Desktop    /etc`

![2020-08-30_18-07](https://user-images.githubusercontent.com/289

[2020-08-30 16:32] SEE-ICT commented on #76
Works for me now, too. No idea why it failed to work before and works now. The problem was certainly reproducible, at least for me. Today, I deleted some add-ons. Maybe one of those was causing the problem. If I encounter the problem again, I will let you know.

[2020-08-31 23:00] Fabioriz commented on #66
Hello my friend!
Don't worry! I can imagine you have many things to do! Actually, it worked! Thank you!
About the fields, I was trying to say that on Anki, when you have a card with more than one field with cloze, this Add-on doesn't work.
For instance: Sentence 1 (first field), Sentence 2 (second field). Only for the field Sentence 1 youl'll have this Add-on working.
A think this is how Anki work

[2020-09-01 06:24] ssricardo commented on #66
Fabio,
but that sounds like something that the add-on actually does...

I created a sample deck, you can test with it:
https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blanks---Starter-Deck

[2020-09-11 21:49] Fabioriz commented on #66
Hi Ricardo!
Thank you again for your interest in helping me!
I checked your sample and maybe I didn't make myself understood.
When I mentioned "field", I was not talking about a cloze deletion field, but an Anki field, as you can see in the follow screenshot. I mean, your cards have multiple cloze deletion fields, but just one Anki field.
Let me know if you got what I tried to explain.
Thank you s

[2020-09-29 21:56] izanagiii commented on #69
Hi

Thanks for your time and trouble

Yes I understand that applying a fix is not just as easy, so I will stick to editing the html of the fields manually for now

Thanks again :)

[2020-10-09 21:56] ssricardo commented on #69
Hey!
I'm so sorry, but currently I really don't have time to spend on this :/

[2020-10-11 14:02] cati-chatou opened #78 "Blank front for {{type:cloze:Text}}"
Hi. I have an issue, but I might be doing something wrong, if so, could you help me understand how to configure this?
Front template:
{{type:cloze:Text}}

Card:
駅の{{c1::ちかく::近く}}にスーパーがあります。

Result: front with an input field only, empty otherwise. Is this because of Japanese?

I am using Mac, Anki Version 2.1.35 (84dcaa86)
Python 3.8.0 Qt 5.14.2 PyQt 5.14.2

[2020-10-13 01:34] pespinozav commented on #45
I still miss this feature. Is the issue closed because it was resolved ? I went to **Duplicando texto #54** but my Portuguese is.... well... it is not there yet.
Thanks!

[2020-10-14 01:33] pespinozav commented on #45
I was able to translate the other post and I noticed that the response says that this is an issue with Anki.  Maybe we are not talking about the same?
If I change the type of the Note in question  to Basic, the sound on the first card **does play**, so it would seem that Anki does support sound on the first card of Note.
I'm probably missing something.... thanks!

[2020-10-19 22:07] ssricardo commented on #78
Hi!

It could be something with the Japanese characters, but I'm not sure; There are people using with that.

Can you download and try testing with the follow starter Deck?!

https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blanks---Starter-Deck

[2020-10-27 15:36] NiciUchiha opened #79 "empty cards on the iOS mobile App"
Hello,

i have a problem with your plugin, on the desktop version everything is working well, but in the iOS App my cards are empty, there is just a "enter answer" button but no gaps etc.

How can i fix this?

[2020-10-28 21:49] ssricardo commented on #79
Hi!

Any Anki add-on is only for the Desktop version.
So far, there aren't add-on for the mobile ones. So it behaves like Anki's default way.

Unfortunately, there's nothing that I can do.

[2020-10-31 10:08] andrewcrook opened #80 "Anki-markdown and MathJax support"
I am wondering if your plugin can be made to work with MathJax?

At the moment the markdown fails to render when using MathJax equations (equation renders)  or I get the markdown rendered and the brackets removed from the equation so the equation does not render.

I think that Markdown should work with MathJax if the two libraries and nested correctly?
certainly some JavaScript Markdown libraries

[2020-12-04 15:36] ghost opened #81 "Feedback after "show answer""
I disabled the feedback but I'd like to see all the errors after "show answer". At the moment all the input is lost after "show answer"?

[2020-12-10 21:53] ssricardo commented on #78
Hi @sanjiro-san . Any new on this?
Do you still have a problem?!
Otherwise I'll start closing some old issues...

[2020-12-12 08:33] cati-chatou commented on #78
Hi @ssricardo. Thanks for reminding me that I didn't answer, apologies for that.
I reinstalled the plugin and it works beautifully. :)
Thanks so much!

[2020-12-13 21:02] #78 closed, assigned to nobody

[2020-12-28 09:46] #76 closed, assigned to nobody

[2020-12-28 09:47] #79 closed, assigned to nobody

[2021-01-28 15:07] Sc0r opened #82 "Fill the blanks fields of inactive card only halfway correct"
Ive combined your brilliant addon with a table addon,  but I tested it and it also happens before I convert it to a table.
following card:
[code]
Could it possibly be due to the high number of blanks?

looks like this when it asks me to fill c1
![image](https://user-images.githubusercontent.com/10654417/106156289-a31a0900-6181-11eb-84d1-95ecc3a96429.png)
looks fine again when showing results for c

[2021-02-10 21:02] ssricardo commented on #82
Can you Post how your note template is?

Overall it works with fields in multiple cards, I need to check why that happened on this case

[2021-02-21 17:48] ssricardo commented on #80
Can you send me a couple of valid MathJax equations?
I'd need to test and check it'd be to add this support

[2021-02-24 09:35] Sc0r commented on #82
hi there, sorry for the late response.
Must be honest, not quite sure what you mean by note template. Could be called different in the German version of anki.
I've attached the exported file. It currently happens only with the card where only the top line is being requested to fill. Line 2 is shown correctly, but line 3 for some reason is not.
[Ust.zip](https://github.com/ssricardo/anki-plugins/fi

[2021-02-27 16:58] ssricardo commented on #82
Solved on new version (2.0).
Let me know if you still get problems

[2021-02-27 16:58] #82 closed, assigned to nobody

[2021-02-27 17:37] lavedon opened #83 "Update breaks normal {{type:Back}} cards"
Hello,

I use this wonderful plugin alongside normal type answer cards without hints.  Meaning, I have both {{{type:cloze:Text}}}} cards using this plugin mixed with {{type:Back}} cards.

After today's update.  No {{type:Back}} cards will work.  I only get an "Unknown Field" error, which is confusing.  When I disable the plugin, alas, the {{type:Back}} cards go back to working as normal.

By the b

[2021-02-27 18:27] vorand commented on #83
I got the same issue with {{type:Word}}  cards.

[2021-02-27 19:40] ssricardo commented on #83
Hi @lavedon and @vorand

Thanks for reporting.
I just published a new version. It seems ok.

Can you update and let me know, please?!

[2021-02-27 20:07] lavedon commented on #83
Great! will try now.

On Sat, Feb 27, 2021 at 2:40 PM Ricardo <notifications@github.com> wrote:

[2021-02-27 20:17] lavedon commented on #83
Seems to work fine now! Thanks so much for fixing this! And for doing it so quickly as well! Much appreciated.

[2021-02-27 22:46] SkyOfSteel opened #84 "Colours after the latest update are poorly visible in light mode"
Hello!

It seems that the latest plugin update changed the colour scheme of the answers - sadly, it makes them rather poorly visible on the white background - please see the screenshot.

Is there any chance to revert the change or let the users pick their own colours? Both green and yellow were more discernible in the previous version, and now I have trouble with them because of their low contrast

[2021-02-28 13:48] ssricardo commented on #84
Humm, indeed.

I'll try finding some color with fits both dark and light modes.

For while, you can change the colors on Note editor; addiing the rules:

[code]

Then changing the colors, according to preference

[2021-02-28 14:31] ssricardo commented on #84
Please update to version 2.2.

And apart of that you can still customize according to above comment

[2021-02-28 14:31] #84 closed, assigned to nobody

[2021-02-28 14:32] ssricardo commented on #83
Great then!
Closing...

[2021-02-28 14:32] #83 closed, assigned to nobody

[2021-02-28 14:33] ssricardo commented on #81
Hi!

Done on new versions 2.0 and on.
Please update!

[2021-02-28 14:33] #81 closed, assigned to nobody

[2021-02-28 21:50] etrekell opened #85 "fill-the-blanks With code using curly braces."
When using the add-on to fill in code that uses curly braces, the cloze syntax interferes.
For example, if you wanted to test by filling in the first code in this snippet:

Code you want to test yourself on:
[code]
In anki:
[code]

The opening curly brace messes it up. Do you know any way around this?

[2021-03-03 10:04] eliyahuswitzer opened #86 "Feature request - ignore Hebrew vowels on feedback"
It would be really great to be able to ignore Hebrew vowels on the feedback. (E.g. instead of the displayed שָלוֹם, feedback should only look for שלום.  For example in the attached .zip file of an .apkg deck:
[Example.zip](https://github.com/ssricardo/anki-plugins/files/6075049/Example.zip)
there are 2 notes with 3 cards each. "ברכות ט ה 2/4 - Vowels" includes vowels, so if you type the second let

[2021-03-03 13:59] eliyahuswitzer commented on #86
Sorry, and one other request would be if it's possible to ignore "cantillation" symbols as well. I attached an example.
For reference a list of all of these are at: https://en.wikipedia.org/wiki/Hebrew_cantillation#Names_and_shapes_of_the_te'amim
For the vowels above, a list is here: https://en.wikipedia.org/wiki/Niqqud#Keyboard
[Example 2.zip](https://github.com/ssricardo/anki-plugins/files/60764

[2021-03-03 20:41] ssricardo commented on #85
Hi!
Unfortunately I don't know a good way to use that.
The problem is likely because it matches Anki "reserved" grammar, so that this `}}` is used on some regex.
So the regex is likely  taking your typed `}}`.

I'd try a simple workaround, which is: just add a space between them. Like: `} }`

[2021-03-09 22:00] MadNoMad27 opened #88 "Front card is not displayed on ankiweb.net"
Hi! I really loved the add-on but there is one issue. The note created with the add-on does not show the front card when reviewing on ankiweb.net, be it from the computer browser or the phone browser. There are no issues when reviewing on the desktop application. I tested it by enabling and disabling the add-on. So the notes created without the add-on (or disabled add-on) show the front card on an

[2021-04-07 00:44] mytestingsolution opened #89 "Changing Font Size of Input Text"
Extremely useful plugin! Thank you so much, it's been so helpful as I'm learning to code.

I read through the other issue re font size, but I've tried all of that code in the style section and just haven't gotten it to work. I spent about an hour reading on reddit, trying different things , but never could get it to go.

Any thoughts on how to do this?

Thanks!

[2021-04-09 20:00] ssricardo commented on #89
Hi!
Which one do you mean? Fill the blanks?
If so, have you tried this: https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blank---Styles

[2021-04-09 20:04] ssricardo commented on #88
Hi!
Every Anki Add-ons work only over the Desktop version.
All other device will continue working like Anki Desktop without the add-ons.

So, unfortunately there's nothing that I can do about it.
My suggestion (what I do) is to keep the cards focused on this Feature, in a separate Deck.

[2021-04-09 20:04] #88 closed, assigned to nobody

[2021-04-09 20:07] ssricardo commented on #85
I'm closing this for now, because I don't a way around this, ok?!
Unfortunately it's a limitation due to how Anki works...

[2021-04-09 20:07] #85 closed, assigned to nobody

[2021-04-09 20:09] ssricardo commented on #86
Hey @eliyahuswitzer,
I imported you sample-deck and tried to do something around this, but could not make any progress.

I'll keep this issue open for now, so that, maybe some developer with knowledge with that can work on it...

[2021-04-09 20:12] etrekell commented on #85
Yep, thanks!

Sent from my iPhone

[2021-04-15 23:48] pedro-volpi opened #90 "Bug with inserting the [...] character sequence"
I have a couple of cards that use the [...] sequence in them, because of reasons.
If I insert the [...] character sequence on a cloze card, the app has a weird behaviour, switching positions of text fields.

Edit: Now I realize that you use this sequence to create the cards. I suggest patching it to use special characters or something more unusual. I changed the code in my computer to have the str

[2021-04-18 13:46] nikosbosse opened #91 "Feature Request - Markdown export"
Thanks a lot for this awesome add-on!
Do you think there would be an way to use this to export Anki notes as Markdown? Happy to contribute if you think this is feasible.

[2021-04-21 21:14] ssricardo commented on #90
Hi!

Sorry that I didn't see it before, but I'm glad that you could figure it out by yourself.

It's exactly that... I use this sequence as sort of a "reserved string".

As you got it, I'll close this for now, ok?!
If you still have a problem, please just re-open it

[2021-04-21 21:14] #90 closed, assigned to nobody

[2021-04-25 15:30] pespinozav opened #92 "Ignore-case option produces strikethtough on correct answers"
Hi! With the ignore-case option selected, I get a green color feedback while typing, but when I press enter, the answer is incorrectly marked with a strikethrough line.
![image](https://user-images.githubusercontent.com/22034819/115999491-d9103300-a5a0-11eb-93ae-2b15bcfdb571.png)

![image](https://user-images.githubusercontent.com/22034819/115999467-bda52800-a5a0-11eb-99a3-7fa323a3eab3.png)

Thank

[2021-04-29 04:12] vonnr opened #93 "Longer answers and bigger font size when typing in an answer"
Is there a way to allow for longer answers? Because I have been noticing that longer answers (a sentence) just appears to be in blue font, it does not display if it's correct or not.
![image](https://user-images.githubusercontent.com/81969507/116501719-20b9f600-a8e4-11eb-975b-d228c4af66f4.png)

[2021-05-06 16:38] ssricardo commented on #93
Hi!
Can you try this: https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blank---Styles

[2021-05-06 16:39] ssricardo commented on #92
Hi! There's a change on the way. I'll make it available soon

[2021-05-06 17:58] #92 closed, assigned to nobody

[2021-05-06 17:59] ssricardo commented on #89
I hope the wiki page helped.
Closing the issue

[2021-05-06 17:59] #89 closed, assigned to nobody

[2021-05-06 22:17] vonnr commented on #93
Hello
I already tried inserting it in the styling section and still doesn't seem
to make the font any larger.

On Fri, 7 May 2021 at 00:39, Ricardo ***@***.***> wrote:

[2021-05-06 23:54] sv-bio opened #94 "[Word shuffler] Feature request: word bank"
Hi,
First of all, I'd like to thank you for such handy way, as Word shuffler, to examine sentence building skills.
My proposal is closely related to what the add-on does, but addresses the question of reverse translation. E.g. if my native language is Serbian and I want to learn German: the sentence in German is presented on the Front card along with and empty area intended for a sentence in Serbi

[2021-05-07 04:47] pespinozav commented on #92
Thanks! It works nicely.

[2021-06-08 08:31] ssricardo commented on #94
Hey!
Thanks for the suggestion.

How would these "junk words" work? I mean, where would they come from?

[2021-06-09 14:27] sv-bio commented on #94
Hi,
Indeed, on the one hand this would only make sense if one creates decks to share with someone else. On the other hand, when one creates desk with sentences to be shuffled, they should be typed in in a right form anyway. So given large enough amount of cards, junk words could be added along with the right ones at a stage of card creation.
Best,
Stan

[2021-06-21 02:02] chungchungdev opened #95 "No feedback after pressing answer"
After pressing answer, the whole type:cloze part disappears. Not a single letter from Back Extra field is shown on the back side for my example.

Tried disabling all other addons and setting false for all parameters in the settings.
Anki version: 2.1.39

Sample card:
Text: France
Back Extra: location:{{c1::Europe}} language{{c1::French}}

Front
[code]

Back
[code]

[2021-06-21 04:28] chungchungdev commented on #95
Sorry. This problem has nothing to do with the addon.
According to the [docs](https://docs.ankiweb.net/templates/fields.html?highlight=checking%20your%20answer#checking-your-answer), the cloze block should be added to the back side to show the checking.

Like this:
Back
[code]

[2021-06-21 04:28] #95 closed, assigned to nobody

[2021-06-21 13:35] AGBrown commented on #80
You could try this, which includes potential problem characters like `\` and `&`:

[code]

which renders in anki like this:
![image](https://user-images.githubusercontent.com/128166/122770580-8059cf80-d29d-11eb-96e0-1781ca9c1a25.png)

and

[code]

which renders in anki like this:
![image](https://user-images.githubusercontent.com/128166/122770606-864fb080-d29d-11eb-876e-86d74a5fdc15.png)

There ar

[2021-07-27 04:43] rezaemortaza opened #96 "Feature request: Fill the blanks"
Hi,

Thank you for developing the Fill the blanks plugins. It is great!

Have you considered making the add-on compatible with Cloze Overlapper. I think learning how to code would be more effective if it is done in the style of Cloze Overlapper, where a code block is revised in a sequential order and the previous line serves as the context cue for the next.

Thanks.

[2021-07-28 19:55] ssricardo commented on #93
I added the support for this, using a config.

Please update and check the configurations.

[2021-07-28 19:55] #93 closed, assigned to nobody

[2021-07-28 19:56] ssricardo commented on #59
This was added, at first as experimental feature.

Please update, and check the configurations.

Later, please provide a feedback

[2021-07-28 19:56] #59 closed, assigned to nobody

[2021-07-28 19:57] ssricardo commented on #64
This was added, at first as experimental feature.

Please update, and check the configurations.

Later, please provide a feedback

[2021-07-28 19:57] #64 closed, assigned to nobody

[2021-08-03 16:26] ssricardo commented on #96
Note for later: Also consider _Edit Field During Review (Cloze)_ (from comment on AnkiWeb)

I'll try addressing this later, BUT I can say in advance that's probably quite complicate. Because I might need to reference code from other add-ons, then it become very hard to maintain (changes on the other add-ons could break this), and there will  be people asking the same for multiple distinct add-ons.

[2021-08-03 18:27] rafaelsb0 commented on #96
Opa @ssricardo, tudo bem? O seu add-on é sensacional. Melhorou muito o meu estudo no Anki. Muito obrigado pelo add-on e pela ajuda.

Se tiver como fazer os dois add-ons funcionarem juntos (Fill the blanks e  Edit Field During Review(Cloze)) e apenas me enviar as modificações para que eu altere na pasta do add-on do meu Anki já é suficiente. Fui o único que pedi essa modificação (os dois comentário

[2021-08-08 23:23] tXJtqlb3bbeKD1yW8SV7 opened #99 "Typed and normal clozes"
Maybe this isn't the best place to discuss this, but since I haven't found another way to contact you, I'll post it here.

I think the typed cloze idea is awesome so I've been using your Add-on for a while, but I've recently started using a specific type of template produced by https://forums.ankiweb.net/u/kleinerpirat on the anki forum, you can get more information here https://forums.ankiweb.net

[2021-08-23 08:56] ssricardo commented on #99
Olá @Casartellii .

Já tenho planos de mudar a forma como o add-on usa os campos com os valores.
Mas isso deve levar um tempo ainda, ok?!
Acho que algumas mudanças grandes devem ser necessárias...

[2021-08-23 15:07] tXJtqlb3bbeKD1yW8SV7 commented on #99
Muito obrigado pela resposta! Fico no aguardo então.

[2021-08-23 15:07] #99 closed, assigned to nobody

[2021-08-25 03:55] AlejandroEN opened #100 "Problems with many cloze deletions"
Hi!

First of all, thank you very much for developing this fantastic tool, it's a quite useful add-on and now I can't imagine studying without it.

The problem happens when I have more than 1 cloze deletion: my review UI starts to show the braces of each cloze deletion I've made.

This is what it looks like:

![image](https://user-images.githubusercontent.com/41605321/130723661-88516216-47df-498b-

[2021-08-25 07:23] ssricardo commented on #100
Hi!

That's odd. Guessing I'd say that maybe some hidden character on the card is breaking it, but I need to test.
Could you create a very small deck with this problematic card, and attach it here?

[2021-08-25 17:40] AlejandroEN commented on #100
Sure.

Thanks for the help.

[Selected Notes.zip](https://github.com/ssricardo/anki-plugins/files/7048816/Selected.Notes.zip)

[2021-09-22 20:38] pedro-volpi commented on #100
I have the exact same problem. I managed to develop a simple example. Just put 18 clozes {{c1::Teste}} in a card. Then change any one of the c1's to c2. You will see that the last cloze shows the braces.

The number of c2 clozes does nothing (unless it's zero), and the position of the c2 tag is irrelevant. It can even be after the last c1 cloze. Also, more c1 clozes will yield more braces.

It's n

[2021-09-29 09:59] njsteiger opened #101 "Issues with right to left languages"
It appears that the word shuffler add-on has some issues with languages that are written right to left. Clicking on the words assumes left to right ordering (so only dragging works). And the feedback sentence after you answer is displayed flipped the wrong direction, see attached screenshot.
<img width="663" alt="Screen Shot 2021-09-29 at 12 58 20" src="https://user-images.githubusercontent.com/26

[2021-10-23 05:12] oliveroliverio opened #102 "Note Templates/Styling and error: "Expected to find '{{close:Text}}' or similar in template""
Hi, first of all.  Thank you for building this plug-in.

I'm trying to reproduce your coding example:

[code]

But your note styling and back template are cutoff from the example.  Do you mind sharing that with us?  I'd really love to style the notes to have that coding syntax.

Also, a more pressing issue.  I'm getting this error when trying to save this new 'cloze' card template: "Card template

[2021-10-28 11:57] S4th1 opened #103 "It could appear red in case of wrong answer"
I never know if I got it right or not lol, it's so discreet that I barely notice, if you could make it stand out, I think it could be better

The add-on is very promising, thank you!!!!

[2021-10-31 16:03] Annapox4 opened #104 "Correct Answers Being Marked Incorrect or Incomplete"
On one of my fill-in-the-blank cards, some of my correct answers are being marked incorrect or incomplete, both in the instant feedback and on the answer side of the card. It's only one card so far; the rest of the fill-in-the-blank cards I've reviewed so far have all worked properly.

Here's what my card looks like in the browser:
<img width="930" alt="Screen Shot 2021-10-31 at 11 03 01" src="htt

[2021-11-02 21:54] ssricardo commented on #103
You can change the colors.
Take a look at https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blank---Styles

[2021-11-02 22:00] ssricardo commented on #102
Hi Oliver!

I don't use any extra style (so the code doesn't have colored formatting).

About the second issue, how is your template?
It should be something like _{{type:cloze:Text}}_.

Can try the sample deck and compare yours with it, please:
https://github.com/ssricardo/anki-plugins/wiki/Fill-the-blanks---Starter-Deck

[2021-11-14 09:44] njsteiger commented on #101
I fixed this, in my decks, by changing the css styling text direction for this particular cloze deletion note type: "direction: rtl;"

[2021-12-02 19:22] #104 closed, assigned to nobody

[2021-12-11 06:48] whosee opened #105 "Feature Request: Support multiple {{type:cloze:xxx}} fields"
I have a note with multiple fields: {{Question1}},..., {{QuestionN}} for example. The following would not work as a template:

[code]

The use case:
Random Question for the same answer as in [reddit - multiple rotating](https://www.reddit.com/r/Anki/comments/rcfc21/comment/hnubnvf/?utm_source=share&utm_medium=web2x&context=3)

Thank you for this amazing add-on

[2021-12-24 18:31] Cristinasj opened #106 "Fill in the blanks: Case insensitive for corrections"
it can be bothersome having to remember whether a word was capitalized or not.

Great addon, btw

[2022-01-08 17:30] ssricardo commented on #106
Hi @Cristinasj!

Have you checked the "feedback-ignore-case" setting?
Or isn't it working correctly?!

[2022-01-09 20:55] Cristinasj commented on #106
Oh, sorry, I forgot that I could change it. Thanks! Great addon.

[2022-01-09 23:16] #106 closed, assigned to nobody

[2022-01-18 08:35] ssricardo commented on #105
Hi!
There is already an issue for the same feature: issue #39.

Closing this as duplicate.

[2022-01-18 08:35] #105 closed, assigned to nobody

[2022-01-18 08:55] ssricardo commented on #103
Closing, as it's already possible to change it according to link posted

[2022-01-18 08:55] #103 closed, assigned to nobody

[2022-01-18 09:01] ssricardo commented on #102
Closing as inactive.
If you still have the problem, please reopen it.

[2022-01-18 09:01] #102 closed, assigned to nobody

[2022-01-18 09:24] ssricardo commented on #101
Hey, great that you found that.
Good for other people to find it as well...

Closing, as there's no need for changes on the implementation.

[2022-01-18 09:24] #101 closed, assigned to nobody

[2022-02-03 11:55] hsusanoo opened #108 "Schedule priority occasionally throws an error"
I just installed the plugin and this error has been thrown 2 times since.

### Error
[code]

[2022-02-04 12:52] vijaykrishnaabba7 opened #109 "Not Showing the type errors"
Everything is working fine here

![1](https://user-images.githubusercontent.com/94542271/152526374-d99c9f2b-fe04-4f40-ba90-7afe2d9484da.jpeg)
                                 Take a look at this.

![3_Trim](https://user-images.githubusercontent.com/94542271/152526416-9be9fcdb-6024-42f5-9974-5821f7ab6d9f.gif)

With normal text errors and the correct answer is displayed,
**However, when using the sy

[2022-02-06 09:50] ssricardo commented on #108
Thanks for reporting.
With this kind of error, it might be hard to find out, but I'll try checking it

[2022-02-08 01:35] ghost opened #110 "didn't work at all - Ubuntu 20.04"
didn't work for me
- when I add "type" in front of the {{cloze:fieldname}} - the front of the card disappears completely

I'm on
Operating system :ubuntu 20.04
Anki : Version ⁨2.1.48 (fb07bad3)⁩ Python 3.8.1 Qt 5.15.1 PyQt 5.15.1
but the idea is awesome - thank you so much

[2022-02-09 12:52] ssricardo commented on #110
Hey @thoraiia !

Probably you are using the wrong note type. It needs to be the cloze one.
Or the template is wrong.

First, even without the add-on (you can disable it), you card should work with Anki "type in the answer".
Please follow here: https://docs.ankiweb.net/templates/fields.html#checking-your-answer
And search for "type:cloze:". There is also a video mentioned there.

But that works onl

[2022-02-10 01:21] ghost commented on #110
- it's working thank you
- I was using the correct note type
- it just didn't work in the ( "preview mode" ) which made me think that the add-on is not working
- but it works just fine in the study mode

[2022-02-10 21:03] ssricardo commented on #110
Great! Then I'm closing it

[2022-02-10 21:03] #110 closed, assigned to nobody

[2022-02-12 16:55] ssricardo commented on #110
@thoraiia can you please update the review on Anki Web?!

[2022-02-20 10:45] Cristinasj opened #111 "Fill in the blanks: It gives false wrongs"
![image](https://user-images.githubusercontent.com/56409822/154838690-43b5c055-9f90-4748-9708-8a60892525d8.png)

I wrote what I was supposed to write and it recognized it as wrong

[2022-02-21 21:03] ssricardo commented on #111
That's odd.
Did you copy/paste the text from some website directly? I'm wondering whether there's some hidden character.

Could you also try without the : and the "?

[2022-03-04 11:14] EugeneTarasenko commented on #100
I have the same problem.
<img width="597" alt="Screenshot 2022-03-04 at 01 38 40" src="https://user-images.githubusercontent.com/87163666/156753580-14f6c868-fe11-4804-b2f5-57c1d7bd3a9a.png">

[2022-03-25 05:49] vijaykrishnaabba7 opened #112 "textarea element"
Can you add a feature like a multiline text area that allows two lines to be typed at the same time?

[2022-04-05 02:14] shaayaansayed opened #113 "Fill in the blank with equations"
Thanks for this plugin, it's amazing.

I use anki for math. My cards have a lot of inline mathjax that I would like to use type in cloze with.

However, I have to format the mathjax correctly for anki for the fill in the blank checker to work and it can be tedious.

If you want to make suggestions on how to make the experience better for math, I can incorporate those changes.

[2022-06-11 08:50] Shahin-rmz opened #114 "feature request: Choosing the answer of the blanks"
Hello, The addon seems pretty cool, although I haven't used it yet, (because I use incremental clozes at the moment).
How about adding the feature to choose the answers (and not type it) inside the blanks.
Maybe I can also do a pull request, if I get any idea.

[2022-07-10 04:40] BrucePlumb commented on #66
Unfortunately the Anki Manual says nothing about the ability to have multiple cloze fields, so many users are unaware of it. It is a very useful feature not only for creating overlapping clozes (no special add-ons required) but also for having different clozes all share the same Extra or Comments field.

[2022-07-16 15:37] michelleenos opened #115 "not compatible with "Multiple type fields for card 2.1" add on"
I'm also using this add-on that lets you have multiple type fields on one card: https://ankiweb.net/shared/info/711285688

This add-on is great but I would like to be able to use both - any suggestions/advice welcome!

With both add-ons enabled, Anki crashes. Here is the error code from that add-on:

[code]

[2022-07-16 19:14] michelleenos commented on #115
It does seem like this plugin author is aware of this but doesn't have the capacity to make a fix, so there may not be much that can be done in terms of this plugin. Here's the issue: https://github.com/r0uv3n/Multiple-type-fields-on-Card-for-Anki-2.1/issues/4 feel free to close this issue if that is the case!

[2022-08-03 22:43] jcznk opened #116 "Typebox size + Audio files + High cloze numbers"
Hello, first thank you for the great add-on! It really changed my Anki experience for the better.

After some testing, I noticed the following:
1. The typebox changes size depending on the clozed content length. This is useful as it gives you enough space to type what you need, but it is suboptimal in that it gives you an hint about the answer's length. This sometimes results in you knowing exactl

[2022-08-31 18:41] ssricardo commented on #115
I'll leave it open for now, to take a look in the future (when I have time).
But in advance, it's really hard maintain the add-on, if we start changing it to adapt to other add-on (which can change anytime).

So it's unlikely, but still I'll give it a try when possible

[2022-08-31 18:43] ssricardo commented on #114
Hi.

How would that be configured in the card?
I think it's valid idea. But it need to be easy to fill the options, otherwise nobody else would use it.

[2022-08-31 18:44] ssricardo commented on #112
Can you suggest how that would be configured?
Like in the card, or in the template?
Maybe some example...

[2022-09-01 04:11] cyl55 commented on #66
If anyone is looking for a way to change the size of the font inside the blank (text box), here is an alternative solution to the ones already listed.
Tools > Add-ons > View Files (for Fill in the Blank) > open controller.py
Inside input.ftb class, add attribute `font-size: 20px;`
You're done! Depending on what you use it to study, you may also need to fiddle with the width of the blank to accommo

[2022-09-07 16:26] vijaykrishnaabba7 commented on #112
for example I want to learn promise from JS
![image](https://user-images.githubusercontent.com/94542271/188931846-eb9d7a13-61a2-45fd-92c6-8c7053d20524.png)

![image](https://user-images.githubusercontent.com/94542271/188931900-351db10e-7a98-4d5c-9be5-e478a45a3bad.png)
![image](https://user-images.githubusercontent.com/94542271/188931909-0c86aa3a-b3aa-4422-9103-3041e4398005.png)

![image](https://u

[2022-09-15 16:14] khonkhortisan opened #117 "[fill-in-the-blanks] addons21\1933645497\handler.py:92:model is deprecated: please use 'note_type'"
[code]
https://github.com/ssricardo/anki-plugins/blob/594ed8adbfe12f4bb08d75af9516c8413ab70ba0/fill-the-blanks/src/handler.py#L92

 - OS: Windows 10
 - Anki Version 2.1.55 (35431c59)⁩

[2022-09-17 07:57] ssricardo commented on #117
Hi! Thanks for reporting.
I'll take a look on that

[2022-09-19 12:00] cindynap opened #118 "2 issuesdoes not work on mobile."
First of all, thanks for this type cloze for me to practice my spelling. I really love it

However I uninstall it days ago as
1, Cant use it on Ankidroid. On my mobile, the whole question appears as a cloze. I can't see the question, no answer no practice.
2, It doesn't support well multiple group clozes such as C1, C2, C3.... Only C1 works.

[2022-09-22 21:17] ssricardo commented on #118
Hi @cindynap !

Unfortunately all Anki add'ons support only the desktop version.
So, nothing specific from this addon, and nothing that I can do about that.

The 2nd point:
actually it supports multiple/distinct cloze on the same card (unless Anki changed something recently and it broke the feature, but I'm not aware).
It's works like any cloze typed card, that is, when studying, the cloze field w

[2022-09-22 21:17] #118 closed, assigned to nobody

[2022-09-24 04:00] cindynap commented on #118
Hi Ricardo, I tried on your sample deck.

This time is even weirder. On the Windows system, the whole front card is
clozed and I can't see the question exactly like on my mobile.

This addon had worked with multi clozes of only 1 group on Anki 2.1.5.4.
Now I am using a new version.

Please check the attachment.

Regards
Cindy

Ricardo ***@***.***> 于2022年9月22日周四 17:18写道：

[2022-09-26 18:07] lightmotive commented on #111
I see this problem frequently--it's usually due to a hidden `&nbsp;` within the cloze delimiters, which Anki often adds when changing formatting of highlighted text. You can replace those `&nbsp;` codes with a regular space using the HTML view (Shift + Cmd/Ctrl + X)--I realize that's not the most user-friendly, but it usually resolves the issue.

Perhaps the add-on can eventually replace `&nbsp;`

[2022-09-26 18:17] lightmotive commented on #109
@ssricardo, I found this issue because the add-on doesn't work properly any time the answer contains HTML as in vijaykrishnaabba7's non-working example above, including character codes like `&nbsp;`, `&gt;`, `&lt;`, `&amp;`, etc.

I quickly scanned your code and noticed the `original_clear_correct_value` function in **handler.py** should strip HTML on line 238 (`cor = stripHTML(cor)`), so perhaps

[2022-09-30 14:26] unit-of-inductance commented on #115
Hi, (not very active) maintainer of the other add on here.

Yeah, right now (or when I adapted the Add On for Anki 2.1) the Reviewer (within the Anki source) is in a state where adding functionality often seems to require monkey patching (or requesting tons of hooks to be added). If my memory serves me right, a rework of the Reviewer is planned (which will probably require a rewrite of all these A

[2022-10-09 08:30] EugeneTarasenko opened #119 "Feature request: being able to make several answers and accept it as correct if any of them is entered."
Sometimes, when using cloze deletions there are several answers, and any of them can be correct.
For example, the sentence:

Here both "weren't" and "wasn't" are correct. So after entering either answer it should be accepted as correct.

Currently after entering either "weren't" or "wasn't" the answer is considered as wrong and marked like this:

<img width="740" alt="Screen Shot 2022-10-09 at 11

[2022-10-09 14:21] ssricardo commented on #115
Hey Henry @r0uv3n!
Thanks for the info. I think I also saw sth that the reviewer will be changed.
Yeah, we need to wait, before that it's quite hard to have combability between the addons.

I plan to allow a distinct prefix (instead of default type:) for my add-on.
If I have time I'll try doing it in November (now in October - no way...)